.edit_section .line {
    background-color: var(--color-green);
}

.edit_section > .continue_and_drafts > .continue_button {
    background-color: var(--color-green);
}

.edit_section > .sub_section > h2 {
    color: var(--color-green);
}

@media (max-width: 720px) {
    .edit_section > .news_content > .title > .input_wrapper {
        min-height: 100px;
        align-items: start;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item {
        width: 100%;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item > .photo_wrapper > .image_wrapper {
        width: 100%;
        height: auto;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item > .photo_wrapper > .image_wrapper .back_image {
        width: 100%;
        height: auto;
    }
}