:root {
    --color-white: #FFFFFF;
    --color-light-gray: #ACACAC;
    --color-light-ghost: #F1F1F1;

    --color-cookie: #F7B779;
    --color-orange: #D68C45;

    --color-green: #4C956C;
    --color-light-green: #95CF00;

    --color-pink: #FFC9B9;
    --color-red: #FF6766;
    --color-heart: #DB4443;
    
    --color-cream: #DDE5B6;
    --color-light-cream: #FEFEE3;
    
    --color-yellow: #26F42D;
    --color-link: #3161FF;
    
    --color-black: #000000;
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-75: rgba(0, 0, 0, 0.75);

    --tiny: 4px;
    --small: 8px;
    --normal: 12px;
    --mid: 16px;
    --big: 24px;
    --huge: 32px;
    --mega: 48px;

    --padding-window: 60px;
}

@media (max-width: 720px) {
    :root {
        --padding-window: var(--normal);
    }
}

.edit_section .line {
    background-color: var(--color-green);
}

.edit_section > .continue_and_drafts > .continue_button {
    background-color: var(--color-green);
}

.edit_section > .sub_section > h2 {
    color: var(--color-green);
}

@media (max-width: 720px) {
    .edit_section > .news_content > .title > .input_wrapper {
        min-height: 100px;
        align-items: start;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item {
        width: 100%;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item > .photo_wrapper > .image_wrapper {
        width: 100%;
        height: auto;
    }
    .edit_section > .ready_dish_photo > .photo_list > .photo_item > .photo_wrapper > .image_wrapper .back_image {
        width: 100%;
        height: auto;
    }
}