{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/add_recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/marks_limits.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:profile' %}"><p>Профиль</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'recipes:create' %}"><p>Добавление рецепта</p></a>
        </section>
        <div class="main_content">
            <form action="{% url 'recipes:create' %}" method="post" class="edit_section create">
                {% csrf_token %}
                <div class="main_title">
                    <span class="line"></span>
                    <h1 class="lilita_font cookie">Добавление нового рецепта</h1>
                    <span class="line"></span>
                </div>
                <div class="sub_section title_and_opacity">
                    <span class="anchor_hidden" id="title_and_opacity"></span>
                    <h2>Название и видимость</h2>
                    <div class="title">
                        <label for="{{ form.title.id_for_label }}"><h3>Название рецепта</h3></label>
                        <div class="input_wrapper">
                            {{ form.title }}
                        </div>
                        {% include "additions/marks_progress_bar.html" with input_id=form.title.id_for_label min=20 max=40 %}
                    </div>
                    <div class="opacity">
                        <h3>Кто видит опубликованный рецепт</h3>
                        <fieldset id="opacity_radios">
                            {% for radio in form.visibility %}
                            <div class="opacity_item">
                                {{ radio.tag }}
                                {% with selected_value=forloop.counter %}
                                <label for="{{ radio.id_for_label }}"><h4>{{ visibility_descriptions|get_first_value:selected_value }}</h4></label>
                                <label for="{{ radio.id_for_label }}"><h4 class="black_50 d_mobile_none">{{ visibility_descriptions|get_second_value:selected_value }}</h4></label>
                                {% endwith %}
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
                <div class="continue_and_drafts publish_and_drafts">
                    <button name="button_save_and_continue" type="submit" class="continue_button">
                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                        <h3 class="medium_font white">Сохранить и продолжить</h3>
                    </button>
<!--                    <button class="drafts_button">-->
<!--                        <img src="{% static 'svg/Random_icons/Edit_icon_half_black.svg' %}">-->
<!--                        <h3 class="black_50 d_mobile_none">Сохранить в черновики</h3>-->
<!--                        <h3 class="black_50 d_desktop_none">Сохранить</h3>-->
<!--                    </button>-->
                </div>
            </form>
            {% if show %}
            <section class="navigation_section d_mobile_none">
                <h3>Быстрая навигация</h3>
                <div class="links_wrapper">
                    <a href="#title_and_opacity" class="link_item">
                        <img src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="done">Название и видимость</h4>
                    </a>
                    <a href="#ingredients_and_portions" class="link_item">
                        <img src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="done">Ингредиенты и порции</h4>
                    </a>
                    <a href="#categories" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="current">Категории рецепта</h4>
                    </a>
                    <a href="#step_photos" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Пошаговые фото</h4>
                    </a>
                    <a href="#ready_dish_photo" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Фото готового блюда</h4>
                    </a>
                    <a href="#description_to_recipe" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Описание рецепта</h4>
                    </a>
                    <a href="#recipe_links" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Ссылки на видео-рецепт</h4>
                    </a>
                    <a href="#cook_time" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Время приготовления</h4>
                    </a>
                </div>
            </section>
            {% endif %}
        </div>
    </main>
    <span class="d_none" id="object_info" data-id="{% if object_id %}{{ object_id }}{% else %}0{% endif %}" data-type="recipe"></span>
{% endblock %}

{% block custom_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.6/Sortable.min.js" integrity="sha512-csIng5zcB+XpulRUa+ev1zKo7zRNGpEaVfNB9On1no9KYTEY/rLGAEEpvgdw6nim1WdTuihZY1eqZ31K7/fZjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/create_page/general.js' %}"></script>
    <script src="{% static 'js/recipe_create/add_recipe.js' %}"></script>
    <script src="{% static 'js/create_page/change_symbols_count.js' %}"></script>
{% endblock %}
