{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ request.meta_title }}</title>
    <meta name="description" content="{{ request.meta_description }}">
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ request.meta_og_title }}" />
    <meta property="og:description" content="{{ request.meta_og_description }}" />
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}" />
    <meta property="og:site_name" content="Комната Вкусов" />
    <meta name="keywords" content="рецепты, кулинария, готовка, блюда, комната вкусов, комната вкуса, еда, кухня">

    <meta property="og:image" content="{% if request.meta_og_image %}{{ request.meta_og_image.url }}{% else %}{% static 'img/Default/Site_Preview.jpg' %}{% endif %}" />

    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'favicon/favicon.ico' %}" />

    {% block extra_meta %}
    <meta property="og:type" content="website">
    {% endblock %}

    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="user-authenticated" content="{{ user.is_authenticated }}">

    {% block base_styles %}
    <link rel="stylesheet" href="{% static 'css/general/vars.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/windows.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/additions/empty_block.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" >
    {% endblock %}

    {% block custom_styles %}
    {% endblock %}
</head>
<body id="body">
    {% block header %}
    <header>
        <div class="header_wrapper">
            <a href="{% url 'main' %}">
                <img id="main_cookie" src="{% static 'svg/Cookie/TR.svg' %}">
            </a>

            <div class="header_sections d_mobile_none">
                <a href="{% url 'recipes:popular' %}"><h4 class="medium_font {% if active_popular %}active{% endif %}">Популярное</h4></a>
                <a href="{% url 'recipes:index' %}"><h4 class="medium_font {% if active_recipes %}active{% endif %}">Рецепты по категориям</h4></a>
                <a href="{% url 'news:index' %}"><h4 class="medium_font {% if active_news %}active{% endif %}">Статьи</h4></a>
            </div>
            <div class="header_buttons">
                <a href="{% url 'recipes:create' %}" data-require-auth><img id="add_recipe" src="{% static 'svg/Plus_Minus/Plus_fill.svg' %}"></a>
                <a href="{% url 'recipes:create' %}"><img id="tg_notif" src="{% static 'svg/Socials_WB/Notif.svg' %}"></a>
                {% if user.is_authenticated %}
                <a class="profile_icon_wrapper" href="{% url 'users:profile' %}">
                    {% if user.avatar %}
                    <img class="d_mobile_none" id="profile" src="{{ user.optimized_image_small.url }}">
                    {% else %}
                    <img class="d_mobile_none" id="profile" src="{% static 'img/Profile/author_default.png' %}">
                    {% endif %}
                </a>
                {% else %}
                <a href="{% url 'users:profile' %}" data-require-auth>
                    <img class="d_mobile_none" id="profile" src="{% static 'svg/Cookie/Cookie_with_hat.svg' %}">
                </a>
                {% endif %}
                <div class="burger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="top_waves_wrapper">
            <img class="d_mobile_none" id="top_waves" src="{% static 'svg/Shapes/Waves_header_desktop.svg' %}">
            <img class="d_desktop_none" id="top_waves" src="{% static 'svg/Shapes/Waves_header_mobile.svg' %}">
        </div>
    </header>
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block back_black %}
    <div class="back_black d_none">
        <div class="burger_menu d_none">
            <div class="profile_info d_none">
                <a href="" class="image_wrapper">
                    <img src="{% static 'img/Profile/author_default.png' %}">
                </a>
                <a href="" class="name_and_tag">
                    <h4>Дашка Мелешенко</h4>
                    <h5 class="black_50">@dashka_meleshenko</h5>
                </a>
            </div>
            <div class="profile_info">
                <a href="" class="name_and_tag">
                    <h4>Войти в профиль</h4>
                    <h5 class="black_50">Ещё больше возможностей!</h5>
                </a>
            </div>
            <div class="chapters_list">
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Cookie/Smile_black.svg' %}">
                    <h3>Главная</h3>
                </a>
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Stars/Star_off_black.svg' %}">
                    <h3>Популярное</h3>
                </a>
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Random_icons/Tree_icon.svg' %}">
                    <h3>Рецепты по категориям</h3>
                </a>
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Random_icons/Article_black_icon.svg' %}">
                    <h3>Статьи</h3>
                </a>
            </div>
            <div class="chapters_list">
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                    <h3>Добавить рецепт</h3>
                </a>
                <a href="" class="chapter_item">
                    <img src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                    <h3>Добавить статью</h3>
                </a>
            </div>
            <div class="socials_info">
                <h4 class="medium_font">Наши контакты:</h4>
                <div class="socials_icons">
                    <a href=""><img src="{% static 'svg/Socials_WB/TG_blank.svg' %}"></a>
                    <a href=""><img src="{% static 'svg/Socials_WB/VK_blank.svg' %}"></a>
                    <a href=""><img src="{% static 'svg/Socials_WB/Email_blank.svg' %}"></a>
                </div>
            </div>
        </div>
        <div id="registration_window" class="profile_window d_none">
            <div class="title">
                <h2 class="cookie lilita_font">Регистрация</h2>
                <h3 class="cookie lilita_font">Открой ещё одну комнату вкусов в нашем домике!</h3>
            </div>
            <form action="{% url 'users:user_registration_ajax' %}" method="post" class="info_form">
                {% csrf_token %}
                <div class="field_item">
                    <label for="{{ registration_form.username.id_for_label }}"><h4>Имя пользователя</h4></label>
                    <div class="input_wrapper">
                        {{ registration_form.username }}
                    </div>
                </div>
                <div class="field_item">
                    <label for="{{ registration_form.email.id_for_label }}"><h4>Адрес электронной почты</h4></label>
                    <div class="input_wrapper">
                        {{ registration_form.email }}
                    </div>
                </div>
                <div class="field_item">
                    <label for="{{ registration_form.password.id_for_label }}"><h4>Пароль</h4></label>
                    <div class="input_wrapper">
                        {{ registration_form.password }}
                    </div>
                </div>
                <button type="submit" class="success_button">
                    <h4 class="medium_font white">Зарегистрироваться</h4>
                </button>
                <ul class="messages_wrapper d_none"></ul>
            </form>
            <div class="foot">
                <h4>Уже есть аккаунт? <a data-action-id="login_window" class="sub_action_href black_50">Войти</a></h4>
            </div>
            <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
        </div>
        <div id="login_window" class="profile_window d_none">
            <div class="title">
                <h2 class="cookie lilita_font">Вход</h2>
                <h3 class="cookie lilita_font">Ваша комната вкусов уже ждёт вас!</h3>
            </div>
            <form action="{% url 'users:user_login_ajax' %}" method="post" class="info_form">
                {% csrf_token %}
                <div class="field_item">
                    <label for="{{ login_form.username_or_email.id_for_label }}"><h4>Почта или Имя пользователя</h4></label>
                    <div class="input_wrapper">
                        {{ login_form.username_or_email }}
                    </div>
                </div>
                <div class="field_item">
                    <label for="{{ login_form.password.id_for_label }}"><h4>Пароль</h4></label>
                    <div class="input_wrapper">
                        {{ login_form.password }}
                    </div>
                </div>
                <button type="submit" class="success_button">
                    <h4 class="medium_font white">Войти</h4>
                </button>
                <ul class="messages_wrapper d_none"></ul>
            </form>
            <div class="foot">
                <h4>Ещё нет аккаунта? <a data-action-id="registration_window" class="sub_action_href black_50">Зарегистрироваться</a></h4>
                <h4><a data-action-id="reset_password" class="sub_action_href black_50">Забыли пароль?</a></h4>
            </div>
            <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
        </div>
        <div id="reset_password" class="profile_window d_none">
            <div class="title">
                <h2 class="cookie lilita_font">Восстановление пароля</h2>
                <h3 class="cookie lilita_font">Мы отправим вам код на почту</h3>
            </div>
            <form action="{% url 'users:continue_reset_password_ajax' %}" method="post" class="info_form">
                {% csrf_token %}
                <div class="field_item">
                    <h4>Адрес электронной почты</h4>
                    <div data-url="{% url 'users:send_email_code_ajax' %}" class="input_wrapper">
                        <input required name="email" type="email" id="send_code_reset_password" placeholder="Введите адрес электронной почты">
                        <button name="send_code_reset_password" type="button">Отправить</button>
                    </div>
                </div>
                <div class="field_item">
                    <h4>Код из письма</h4>
                    <div class="input_wrapper">
                        <input required type="text" name="code" placeholder="Введите код из письма">
                    </div>
                </div>
                <button name="continue_reset_password" type="submit" class="success_button">
                    <h4 class="medium_font white">Продолжить</h4>
                </button>
                <ul class="messages_wrapper d_none">
                    <li>
                        <img src="{% static 'svg/Random_icons/Warning.svg' %}">
                        <h4 class="black_50">Укажите электронную почту</h4>
                    </li>
                </ul>
            </form>
            <div class="foot">
                <h4>Вспомнили пароль? <a data-action-id="login_window" class="sub_action_href black_50">Войти</a></h4>
            </div>
            <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
        </div>
        <div id="set_new_password" class="profile_window d_none">
            <div class="title">
                <h2 class="cookie lilita_font">Восстановление пароля</h2>
                <h3 class="cookie lilita_font">Придумайте новый пароль</h3>
            </div>
            <form action="{% url 'users:final_change_password_ajax' %}" method="post" class="info_form">
                {% csrf_token %}
                <div class="field_item">
                    <label for="{{ change_password_form.password1.id_for_label }}"><h4>Пароль</h4></label>
                    <div class="input_wrapper">
                        {{ change_password_form.password1 }}
                    </div>
                </div>
                <div class="field_item">
                    <label for="{{ change_password_form.password2.id_for_label }}"><h4>Повторите пароль</h4></label>
                    <div class="input_wrapper">
                        {{ change_password_form.password2 }}
                    </div>
                </div>
                <button type="submit" class="success_button">
                    <h4 class="medium_font white">Изменить</h4>
                </button>
                <ul class="messages_wrapper d_none"></ul>
            </form>
            <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
        </div>
        {% block extra_back_black_windows %}
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    <a href="#body" id="go_up_wrapper">
            <img src="{% static 'svg/Random_icons/Show_Hide_icon_gray.svg' %}">
        </a>
    <footer>
        <img class="d_mobile_none" id="footer_waves" src="{% static 'svg/Shapes/Waves_footer_desktop.svg' %}">
        <img class="d_desktop_none" id="footer_waves" src="{% static 'svg/Shapes/Waves_footer_mobile.svg' %}">
        <div class="footer_wrapper">
            <img class="d_mobile_none" src="{% static 'svg/Shapes/Chocolates_footer_desktop.svg' %}">
            <div class="footer_content">
                <h3>Заблудились?</h3>
                <div class="footer_info">
                    <a href="{% url 'main' %}"><h4>Главная</h4></a>
                    <a href="{% url 'recipes:popular' %}"><h4>Популярное</h4></a>
                    <a href="{% url 'recipes:index' %}"><h4>Рецепты по категориям</h4></a>
                    <a href="{% url 'news:index' %}"><h4>Статьи</h4></a>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="{% static 'svg/Shapes/Chocolates_footer_desktop.svg' %}" style="transform: rotate(180deg)">
            <div class="footer_content">
                <h3>Хочешь знать обо всех новинках?</h3>
                <div class="footer_info">
                    <h4>Подпишись на рассылку в <a href="" class="link_color">Телеграме</a></h4>
                </div>
                <h3>Понравился рецепт?</h3>
                <div class="footer_info">
                    <h4>Сохрани в <a data-require-auth href="{% url 'users:profile' %}" class="link_color">профиль</a>, чтобы не потерять</h4>
                    <h4>Или <a data-require-auth href="{% url 'recipes:create' %}" class="link_color">поделись</a> своим шедевром!</h4>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="{% static 'svg/Shapes/Chocolates_footer_desktop.svg' %}">
            <div class="footer_content">
                <h3>Остались вопросы?</h3>
                <div class="footer_info">
                    <div class="social_div">
                        <a href="">
                            <img src="{% static 'svg/Socials_WB/TG_blank.svg' %}">
                            <h4>Наш телеграм</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="{% static 'svg/Socials_WB/VK_blank.svg' %}">
                            <h4>ВКонтакте</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="{% static 'svg/Socials_WB/Email_blank.svg' %}">
                            <h4>tasteroom@yandex.ru</h4>
                        </a>
                    </div>
                </div>
            </div>
            <img class="d_mobile_none" src="{% static 'svg/Shapes/Chocolates_footer_desktop.svg' %}" style="transform: rotate(180deg)">
            <img class="d_desktop_none" src="{% static 'svg/Shapes/Chocolates_footer_mobile.svg' %}">
        </div>
    </footer>
    {% endblock %}

    {% block base_scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        const CSRF_TOKEN = $('meta[name="csrf-token"]').attr("content");
        const heart_blank_icon = "{% static 'svg/Random_icons/Heart_blank.svg' %}";
        const heart_fill_icon = "{% static 'svg/Random_icons/Heart_fill.svg' %}";
    </script>

    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/textarea.js' %}"></script>
    <script src="{% static 'js/header_scroll.js' %}"></script>
    <script src="{% static 'js/heart_anim.js' %}"></script>
    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/windows.js' %}"></script>
    <script src="{% static 'js/set_image_height.js' %}"></script>
    <script src="{% static 'js/share_socials.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    {% endblock %}

    {% block custom_scripts %}
    {% endblock %}
</body>
</html>