{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/news_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_category.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/detail_recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/comments.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'recipes:index' %}"><p>Рецепты</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'recipes:detail' object.id object.slug %}"><p>{{ object.title }}</p></a>
        </section>
        <div class="main_content">
            <section class="category_section d_mobile_none">
                <div class="category_wrapper">
                    <div class="category_show_hide_wrapper d_desktop_none">
                        <div class="hide_wrapper">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}">
                            <h2 class="lilita_font cookie">Скрыть категории</h2>
                        </div>
                        <div class="show_wrapper d_none">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}" style="transform:  rotate(180deg);">
                            <h2 class="lilita_font cookie">Показать категории</h2>
                        </div>
                    </div>
                    {% for category_group in category_groups %}
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">{{ category_group.title }}</h3>
                            <h2 class="lilita_font d_desktop_none">{{ category_group.title }}</h2>
                            <span class="line"></span>
                        </div>
                        {% for category in category_group.categories.all %}
                        <div class="category_content">
                            <div class="main_name">
                                <a href="{% url 'recipes:category' category.slug %}">
                                    <p>{{ category.name }}</p>
                                </a>
                                {% if category.children.exists %}
                                <img class="minus d_none" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                <img class="plus" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                {% endif %}
                            </div>
                            <ul class="d_none">
                                {% for children in category.children.all %}
                                <li><a href="{% url 'recipes:category' children.slug %}">{{ children.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="recipe_section">
                <div class="recipe_header">
                    <div class="image_wrapper swiper">
                        <div class="previews_wrapper swiper-wrapper">
                            <img class="back_image swiper-slide" src="{% if object.previews.preview_1 %}{{ object.previews.optimized_image_1.url }}{% else %}{% static 'img/Default/Default_image.jpg' %}{% endif %}">
                            {% if object.previews.preview_2 %}
                            <img class="back_image swiper-slide" src="{{ object.previews.optimized_image_2.url }}">
                            {% endif %}
                            {% if object.previews.preview_3 %}
                            <img class="back_image swiper-slide" src="{{ object.previews.optimized_image_3.url }}">
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            {% if object in user.liked_recipes.all %}
                            <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ object.id }}">
                                <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                            </div>
                            {% else %}
                            <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ object.id }}">
                                <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                            </div>
                            {% endif %}
                        {% else %}
                        <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ object.id }}">
                            <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                        </div>
                        {% endif %}
                    </div>
                    <h1>{{ object.title }}</h1>
                    <h4>{{ object.description_inner }}</h4>
                </div>
                <div class="recipe_videos">
                    <a href="{{ object.video_url_first }}" class="main_video">
                        <h3>Посмотреть видео-рецепт</h3>
                        <img src="{% static 'svg/Shapes/Play_video_black.svg' %}">
                    </a>
                    {% if object.video_url_second %}
                    <a href="{{ object.video_url_second }}" class="alt_video">
                        <h4>Запасная ссылка на видео-рецепт</h4>
                        <img src="{% static 'svg/Shapes/Play_video_half_black.svg' %}">
                    </a>
                    {% endif %}
                </div>
                <div class="recipe_stats">
                    <div class="column">
                        <div class="recipe_stats_item">
                            <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                            <div class="info">
                                <h4>Общ.\актив. время готовки:</h4>
                                <h4 class="bold_font green">{{ object.cook_time_full|short_timedelta }} \ {{ object.cook_time_active|short_timedelta }}</h4>
                            </div>
                        </div>
                        <div class="recipe_stats_item">
                            <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                            <div class="info">
                                <h4>Калорийность (100г):</h4>
                                <h4 class="bold_font orange">{{ recipe_calories_per_100g }} ккал</h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="recipe_stats_item">
                            <img src="{% static 'svg/Random_icons/Human_icon.svg' %}">
                            <div class="info">
                                <h4>Количество порций:</h4>
                                <h4 class="bold_font green">{{ object.portions }} порции</h4>
                            </div>
                        </div>
                        <div class="recipe_stats_item difficulty">
                            <img src="{% static 'svg/Random_icons/Gear_icon.svg' %}">
                            <div class="info">
                                <h4>Сложность:</h4>
                                <h4 class="bold_font orange">{{ object.difficulty }} / 5 <span class="regular_font">({{ object.get_difficulty_display  }})</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#news_reviews" class="recipe_stats_item">
                            <img src="{% static 'svg/Stars/Star_on.svg' %}">
                            <div class="info">
                                <h4>Рейтинг:</h4>
                                <h4 class="bold_font cookie">{{ object.rating }} / 5 <span class="regular_font">({{ object.recipereview_set.count }} отзыва)</span></h4>
                            </div>
                        </a>
                        <div class="recipe_stats_item spicy">
                            <img src="{% static 'svg/Random_icons/Pepper_icon.svg' %}">
                            <div class="info">
                                <h4>Острота:</h4>
                                <h4 class="bold_font red">{{ object.scipy }} / 5 <span class="regular_font">({{ object.get_scipy_display  }})</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe_author">
                    <a href="{% url 'users:author' object.author.username %}" class="image_wrapper circle">
                        {% if object.author.avatar %}
                        <img class="circle" src="{{ object.author.optimized_image.url }}">
                        {% else %}
                        <img class="circle" src="{% static 'img/Profile/author_default.png' %}">
                        {% endif %}
                    </a>
                    <div class="info">
                        <a href="{% url 'users:author' object.author.username %}"><h4>Автор рецепта: {{ object.author }}</h4></a>
                        <h5>{{ object.author.description_recipe }}</h5>
                    </div>
                </div>
                <div class="recipe_ingredients">
                    <div class="title_and_portions">
                        <h3>Игредиенты</h3>
                        <div class="portions">
                            <h4>На кол-во порций:</h4>
                            <div class="counter" data-id="{{ object.id }}" data-url="{% url 'recipes:recipe_portions_ajax' %}">
                                <button id="minus_portions_button" type="button" class="minus">
                                    <img src="{% static 'svg/Plus_Minus/Minus_white.svg' %}">
                                </button>
                                <div class="number default">
                                    <h5 id="portions_number">{{ object.portions }}</h5>
                                </div>
                                <button id="plus_portions_button" type="button" class="plus">
                                    <img src="{% static 'svg/Plus_Minus/Plus_white.svg' %}">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ingredients">
                        {% for item in recipe_ingredients %}
                        <div class="ingredient_item">
                            <div class="image_wrapper">
                                {% if item.ingredient.icon %}
                                <img src="{{ item.ingredient.icon.url }}">
                                {% else %}
                                <img src="{% static 'svg/Ingredients/Question_mark.svg' %}">
                                {% endif %}
                            </div>
                            <h4>{{ item.ingredient.title }} - {{ item.quantity|round_ingredient_count }} {{ item.unit }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div style="display: none;" class="recipe_warning">
                    <img src="{% static 'svg/Random_icons/Warning_mark.svg' %}">
                    <div class="info">
                        <h4>Обратите внимание: в рецепте ниже количество ингредиентов расчитано на {{ object.portions }} порции.</h4>
                        <h4>Учтите это при изменении количества порций</h4>
                    </div>
                </div>
                <div class="recipe_content">
                    {% for item in object.recipestep_set.all %}
                    <div class="step">
                        <h3>Шаг {{ forloop.counter }}</h3>
                        <div class="info">
                            <h4>{{ item.text }}</h4>
                            <div class="image_wrapper">
                                <img src="{{ item.optimized_image.url }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="recipe_categories">
                    <h4>Категории:
                        {% for item in object.categories.all %}
                        <a href="{% url 'recipes:category' item.slug %}" class="green">{{ item.name }},</a>
                        {% endfor %}
                    </h4>
                </div>
                <div class="recipe_reviews">
                    <span class="anchor_hidden" id="news_reviews"></span>
                    <div class="rating_wrapper">
                        <h4 class="medium_font">Оцени рецепт “{{ object.title }}”</h4>
                        <div data-id="{{ object.id }}" data-type="recipe" data-url="{% url 'recipes:change_rating_ajax' %}" data-url-delete="{% url 'recipes:delete_rating_ajax' %}" class="stars">
                            {% for _ in object.stars_on_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_half_on.svg' %}">
                            {% endfor %}
                            {% for _ in object.stars_off_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_off.svg' %}">
                            {% endfor %}
                        </div>
                        <div class="info">
                            <h4>Средняя оценка: <span id="mid_review_rating" class="medium_font cookie">{{ object.rating }}</span></h4>
                            <h4>Голосов: <span id="review_count" class="medium_font cookie">{{ object.recipereview_set.count }}</span></h4>
                        </div>
                    </div>
                    <div class="share_wrapper">
                        <h4 class="medium_font">Поделись рецептом с друзьями!</h4>
                        <div class="socials">
                            <img class="share_button" id="share_tg" src="{% static 'svg/Socials_Colorful/TG.svg' %}">
                            <img class="share_button" id="share_vk" src="{% static 'svg/Socials_Colorful/VK.svg' %}">
                            <img class="share_button" id="share_ws" src="{% static 'svg/Socials_Colorful/WS.svg' %}">
                            <img class="share_button" id="share_pinterest" src="{% static 'svg/Socials_Colorful/Pinterest.svg' %}">
                            <div class="copy_wrapper">
                                <img class="copy_button" id="share_copy" src="{% static 'svg/Socials_Colorful/Copy.svg' %}">
                                <div class="copy_window">
                                    <div class="inner_wrapper">
                                        <h5>Ссылка скопирована!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if recs_recipes %}
                <div class="recipe_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Рекомендуем попробовать</h2>
                    <span class="line"></span>
                </div>
                <div class="recipe_recs swiper">
                    <div class="recipe_recs_wrapper swiper-wrapper">
                        {% include "recipes/includes/recipe_cards.html" with recipes_list=recs_recipes swiper_slide=True %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% for item in recs_recipes %}
                <div data-id="{{ item.id }}" class="pop_up_window cook_time_window d_none">
                                <p>Время приготовления</p>
                                <div class="inner_wrapper">
                                    <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                    <h5 class="green">Общее - {{ item.cook_time_full|short_timedelta }}</h5>
                                </div>
                                <div class="inner_wrapper">
                                    <img src="{% static 'svg/Random_icons/Clock_icon_red.svg' %}">
                                    <h5 class="red">Активное - {{ item.cook_time_active|short_timedelta }}</h5>
                                </div>
                            </div>
                <div data-id="{{ item.id }}" class="pop_up_window ingredients_window d_none">
                    <p>Ингредиенты</p>
                    {% for ingredient in item.recipeingredient_set.all %}
                    <div class="inner_wrapper">
                        <h5>{{ ingredient.ingredient.title }} - {{ ingredient.quantity|round_ingredient_count }} {{ ingredient.unit }}</h5>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                {% if recs_news %}
                <div class="recipe_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Интересно почитать</h2>
                    <span class="line"></span>
                </div>
                <div class="news_recs swiper">
                    <div class="news_recs_wrapper swiper-wrapper">
                        {% include "news/includes/news_cards.html" with news_list=recs_news swiper_slide=True %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% endif %}
                {% endif %}
                <div class="recipe_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Оставь комментарий!</h2>
                    <span class="line"></span>
                </div>
                <form action="{% url 'recipes:add_comment_ajax' %}" method="post" enctype="multipart/form-data" class="recipe_add_comment add_comment">
                    {% csrf_token %}
                    <div class="image_wrapper d_none">
                        <img class="back_image" src="{% static 'img/recipe_and_article/noodles.jpg' %}">
                        <div class="delete_and_change">
                            <div class="action_item delete">
                                <img src="{% static 'svg/Random_icons/Trash_icon.svg' %}">
                            </div>
                            <div class="action_item change">
                                <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="add_image">
                        <img src="{% static 'svg/Cookie/Add_image_half_black.svg' %}">
                        <div class="info">
                            <p>Добавь фото готового блюда к своему комментарию</p>
                            <p class="d_mobile_none">Перетащи или нажми, чтобы выбрать</p>
                            <p class="d_desktop_none">Нажми, чтобы выбрать</p>
                        </div>
                        <input name="image" class="image_input" type="file" accept="image/png,image/jpeg">
                    </div>
                    <div class="input_wrapper">
                        <textarea required="required" name="text" placeholder="Поделитесь своими мыслями"></textarea>
                        <button type="submit" class="input_button">
                            <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                        </button>
                    </div>
                </form>
                <div class="recipe_comments comments {% if not comments %}d_none{% endif %}">
                    {% for item in comments %}
                    <div data-parent-id="{{ item.id }}" class="comment_wrapper">
                        <div data-comment-id="{{ item.id }}" class="comment_item parent">
                            <div class="author_info">
                                <a href="{% url 'users:author' item.author.username %}" class="image_wrapper">
                                    {% if item.author.avatar %}
                                    <img src="{{ item.author.optimized_image_small.url }}">
                                    {% else %}
                                    <img src="{% static 'img/Profile/author_default.png' %}">
                                    {% endif %}
                                </a>
                                <div class="info">
                                    <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                                    <h5 class="black_75">{{ item.published_date|naturaltime }}</h5>
                                </div>
                                <div class="comment_actions d_none">
                                    <div class="action answer">
                                        <h5 class="medium_font black_50">Ответить</h5>
                                    </div>
                                    {% if item.author == user %}
                                    <div data-url="{% url 'recipes:delete_comment_ajax' %}" class="action delete">
                                        <h5 class="medium_font black_50">Удалить</h5>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content">
                                {% if item.image %}
                                <div class="image_wrapper">
                                    <img src="{{ item.optimized_image_small.url }}">
                                </div>
                                {% endif %}
                                <h5>{{ item.text }}</h5>
                            </div>
                            <div data-url="{% url 'recipes:comment_reaction_change_ajax' %}" class="rating">
                                <div class="likes">
                                    {% if item in request.user.liked_recipe_comments.all %}
                                    <img class="active" src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                    {% endif %}

                                    {% if item.likes %}
                                    <h5>{{ item.likes }}</h5>
                                    {% endif %}
                                </div>
                                <div class="dislikes">
                                    {% if item in request.user.disliked_recipe_comments.all %}
                                    <img class="active" src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                    {% endif %}

                                    {% if item.dislikes %}
                                    <h5>{{ item.dislikes }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if item.children.exists %}
                        <div class="answers d_none">
                            <span class="line"></span>
                            <div class="answers_list">
                                {% for answer in item.children.all|published_date_minus %}
                                <div data-comment-id="{{ answer.id }}" class="comment_item">
                                    <div class="author_info">
                                        <a href="{% url 'users:author' answer.author.username %}" class="image_wrapper">
                                            {% if answer.author.avatar %}
                                            <img src="{{ answer.author.optimized_image_small.url }}">
                                            {% else %}
                                            <img src="{% static 'img/Profile/author_default.png' %}">
                                            {% endif %}
                                        </a>
                                        <div class="info">
                                            <h4>{% if answer.author.name %}{{ answer.author.name }}{% else %}{{ answer.author.username }}{% endif %}</h4>
                                            <h5 class="black_75">{{ answer.published_date|naturaltime }}</h5>
                                        </div>
                                        <div class="comment_actions d_none">
                                            {% if item.author == user %}
                                            <div data-url="{% url 'recipes:delete_comment_ajax' %}" class="action delete">
                                                <h5 class="medium_font black_50">Удалить</h5>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content">
                                        {% if answer.image %}
                                        <div class="image_wrapper">
                                            <img src="{{ answer.optimized_image_small.url }}">
                                        </div>
                                        {% endif %}
                                        <h5>{{ answer.text }}</h5>
                                    </div>
                                    <div data-url="{% url 'recipes:comment_reaction_change_ajax' %}" class="rating">
                                        <div class="likes">
                                            {% if answer in request.user.liked_recipe_comments.all %}
                                            <img class="active" src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.likes %}
                                            <h5>{{ answer.likes }}</h5>
                                            {% endif %}
                                        </div>
                                        <div class="dislikes">
                                            {% if answer in request.user.disliked_recipe_comments.all %}
                                            <img class="active" src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.dislikes %}
                                            <h5>{{ answer.dislikes }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="change_visibility_answers hide_answers d_none">
                            <h5 class="black_75">Скрыть ответы</h5>
                        </div>
                        <div class="change_visibility_answers show_answers">
                            <h5 class="black_75">Показать ответы ({{ item.children.count }})</h5>
                        </div>
                        {% endif %}
                        <form data-parent-id="{{ item.id }}" action="{% url 'recipes:add_comment_ajax' %}" method="post" enctype="multipart/form-data" class="add_answer_comment d_none">
                            {% csrf_token %}
                            <div class="input_wrapper">
                                <textarea required="required" name="text" placeholder="Ответьте на комментарий"></textarea>
                                <button type="submit" class="input_button">
                                    <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                                </button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                    {% if comments.has_next %}
                    <div data-page="{{ comments.next_page_number }}" data-url="{% url 'recipes:load_more_comments_ajax' %}" class="show_more">
                        <h5 class="black_75">Показать ещё</h5>
                    </div>
                    {% endif %}
                </div>
            </section>
            <section class="art_section d_mobile_none">
                {% include "news/includes/news_cards.html" with news_list=side_articles %}
            </section>
        </div>
        <div class="pop_up_window spicy_window d_none">
            <div class="inner_wrapper">
                <img src="{% static 'svg/Random_icons/Pepper_icon.svg' %}">
                <p>Острота</p>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">1 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Без остроты</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">2 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Слабая острота</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">3 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Умеренно остро</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">4 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Достаточно остро</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">5 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Очень остро!</h5>
            </div>
        </div>
        <div class="pop_up_window difficulty_window d_none">
            <div class="inner_wrapper">
                <img src="{% static 'svg/Random_icons/Gear_icon.svg' %}">
                <p>Сложность</p>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">1 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Новичок</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">2 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Нормально</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">3 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Требует опыта</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">4 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Для продвинутых</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">5 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Профессионал</h5>
            </div>
        </div>
    </main>
    <span class="d_none" id="object_info" data-id="{{ object.id }}" data-type="recipe"></span>
{% endblock %}

{% block custom_scripts %}
    <script>
        const default_ingredient_icon = "{% static 'svg/Ingredients/Question_mark.svg' %}";
        const star_on_icon = "{% static 'svg/Stars/Star_on.svg' %}";
        const user_review_exists = Boolean({{ user_review_exists }});
        let user_review_rating;
        if (user_review_exists == 1) {
            user_review_rating = Number({{ user_review_rating }});
        }
    </script>
    <script src="{% static 'js/change_portions.js' %}"></script>
    <script src="{% static 'js/set_rating.js' %}"></script>
    <script src="{% static 'js/comment_forms.js' %}"></script>
{% endblock %}