{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/repice_card_long.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/pagination.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'recipes:index' %}"><p>Рецепты</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'recipes:popular' %}"><p>Популярное</p></a>
        </section>
        <section class="section_title">
            <span class="line"></span>
            <h2 class="lilita_font">Популярные рецепты</h2>
            <span class="line"></span>
        </section>
        <section class="new_recipes_section">
            <div class="cards_wrapper">
                {% for item in object_list %}
                <div class="recipe_item">
                    <div class="recipe_item_header">
                        <div class="image_wrapper">
                            <a href="{% url 'recipes:detail' item.id item.slug %}">
                                <img class="back_image" src="{{ item.previews.preview_1.url }}">
                            </a>
                            {% if user.is_authenticated %}
                                {% if item.id in user.liked_recipes_id %}
                                <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                    <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                                </div>
                                {% else %}
                                <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                    <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                </div>
                                {% endif %}
                            {% else %}
                            <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                            </div>
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="calories">
                                <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                                <h4>{{ item.calculate_total_calories }} ккал</h4>
                            </div>
                            <div class="time">
                                <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                <h4>{{ item.cook_time_full|short_timedelta }}</h4>
                            </div>
                        </div>
                        <a href="{% url 'recipes:detail' item.id item.slug %}">
                            <h3 class="title medium_font">{{ item.title }}</h3>
                        </a>
                        <h4 class="description">{{ item.description_card }}</h4>
                    </div>
                    <div class="recipe_item_footer">
                        <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                            <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                            <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                        </a>
                        <a href="">
                            <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="cards_wrapper_long d_mobile_none">
                {% for item in object_list %}
                <div class="recipe_and_art">
                    <div class="recipe_item_long">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="{% url 'recipes:detail' item.id item.slug %}">
                                    <img class="back_image" src="{{ item.previews.preview_1.url }}">
                                </a>
                                {% if user.is_authenticated %}
                                    {% if item.id in user.liked_recipes_id %}
                                    <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                                    </div>
                                    {% else %}
                                    <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                    <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="recipe_item_content">
                            <div class="recipe_item_body">
                                <a href="{% url 'recipes:detail' item.id item.slug %}">
                                    <h2 class="title medium_font">{{ item.title }}</h2>
                                </a>
                                <h3 class="description">{{ item.description_card }}</h3>
                                <div class="info">
                                    <div class="calories_and_time">
                                        <div class="calories">
                                            <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                                            <h3>{{ item.calculate_total_calories }} ккал</h3>
                                        </div>
                                        <div class="time">
                                            <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                            <h3>{{ item.cook_time_full|short_timedelta }}</h3>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <h3>({{ item.reviews.count }})</h3>
                                        {% for _ in item.stars_on_count|repeat %}
                                        <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                        {% endfor %}
                                        {% for _ in item.stars_off_count|repeat %}
                                        <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            <div class="recipe_item_footer">
                                <a href="{% url 'users:author' item.author.username  %}" class="icon_title">
                                    <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                    <h3>{{ item.author }}</h3>
                                </a>
                                <a href="">
                                    <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="art_wrapper">
                        <div class="art_info">
                            <h2>Рекламный баннер</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% if is_paginated %}
        <section class="pagination">
            {% if page_obj.has_previous %}
            <a href="{% url 'recipes:paginator_popular' page_obj.previous_page_number %}" class="pagination_button" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button disabled" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}

            <div class="page_numbers_wrapper">
                {% for page in paginator.page_range %}
                <a class="page_link {% if page_obj.number == page %}active{% endif %}" href="{% url 'recipes:paginator_popular' page %}">
                    <h3>{{ page }}</h3>
                </a>
                {% endfor %}
            </div>

            {% if page_obj.has_next %}
            <a href="{% url 'recipes:paginator_popular' page_obj.next_page_number %}" class="pagination_button next" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button next disabled" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}
        </section>
        {% endif %}
    </main>
{% endblock %}

{% block custom_scripts %}

{% endblock %}