{% load static %}
{% load custom_filters %}

{% for item in ingredients %}
<div class="ingredient_item" data-id="{{ item.id }}">
    <input class="ingredient_id_input" hidden="hidden" name="ingredient_id_{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}" value="{{ item.id }}">
    <input class="recipe_ingredient_id_input" hidden="hidden" type="text" value="{{ item.id }}" name="recipe_ingredient_id_{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}">
    <div class="info_wrapper">
        <h3 class="order lilita_font">{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}.</h3>
        <div class="info">
            <div class="info_inner">
                <h4 class="title">{{ item.title }}</h4>
                <div class="settings">
                    <input type="number" min="1" max="9999" name="ingredient_count_{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}" placeholder="Кол-во">
                    <select name="ingredient_measurement_{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}">
                        {% for choice in choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <img src="{% static 'svg/Ingredients/Default.svg' %}">
        </div>
    </div>
    <div class="supp_buttons_wrapper">
        <input class="ingredient_checkbox_input" type="checkbox" name="ingredient_checkbox_{% if next_item_number %}{{ next_item_number }}{% else %}{{ forloop.counter }}{% endif %}">
        <button class="remove_recipe_ingredient" name="button_remove_recipe_ingredient" type="button">
            <img class="trash_icon" src="{% static 'svg/Random_icons/Trash_icon_for_checkbox.svg' %}">
        </button>
    </div>
</div>
{% endfor %}