{% load static %}
{% load custom_filters %}

{% for item in ingredients %}
<div data-id="{{ item.id }}" class="ingredient_item {% if item.id in active_ids_list %}active{% endif %}">
    <div class="icon_wrapper">
        <div class="icon_inner">
            {% if item.icon %}
            <img src="{{ item.icon.url }}">
            {% else %}
            <img src="{% static 'svg/Ingredients/Default.svg' %}">
            {% endif %}
        </div>
        <div class="yes_inner">
            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
        </div>
        <div class="no_inner">
            <img src="{% static 'svg/Yes_No/No_shadow.svg' %}">
        </div>
    </div>
    <p>{{ item.title }}</p>
</div>
{% endfor %}