{% load static %}
{% load custom_filters %}

{% for item in steps %}
{% with item_number=next_item_number|default:forloop.counter %}
{% with text_id="id_text_"|conc_strings:item_number %}
<div class="step_item" data-id="{{ item.id }}" data-order="{{ item_number }}">
    <label for="{{ text_id }}"><h3>Шаг {{ item_number }}</h3></label>
    <div class="content">
        <div class="photo_wrapper">
            <div class="move_bar">
                <img src="{% static 'svg/Arrows/Up_Down.svg' %}">
            </div>
            <div class="image_wrapper">
                <img class="back_image" src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/Default/Load_image.jpg' %}{% endif %}">
                <div class="delete_and_change">
                    <div class="action_item delete" data-order="{{ item_number }}">
                        <img src="{% static 'svg/Random_icons/Trash_icon.svg' %}">
                    </div>
                    <div class="action_item change" data-order="{{ item_number }}">
                        <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                    </div>
                </div>
                <input class="image_input" name="step_image_{{ item_number }}" type="file" accept="image/png,image/jpeg">
            </div>
        </div>
        <div class="field_wrapper">
            <div class="input_wrapper">
                <textarea id="{{ text_id }}" name="text_{{ item_number }}" class="with_marks fixed" minlength="100" maxlength="512" placeholder="Опишите этап">{{ item.text }}</textarea>
            </div>
            {% include "additions/marks_progress_bar.html" with input_id=text_id min=100 max=512 %}
        </div>
    </div>
    <input class="step_id_input" hidden="hidden" type="text" name="step_id_{{ item_number }}" value="{{ item.id }}">
</div>
{% endwith %}
{% endwith %}
{% endfor %}