{% load static %}

<div class="photo_item" data-order="{% if next_item_number %}{{ next_item_number }}{% else %}1{% endif %}">
    <div class="photo_wrapper">
        <div class="image_wrapper">
            <img class="back_image" src="{% if ready_photo %}{{ ready_photo.url }}{% else %}{% static 'img/Default/Load_image.jpg' %}{% endif %}">
            <div class="delete_and_change">
                <div class="action_item delete">
                    <img src="{% static 'svg/Random_icons/Trash_icon.svg' %}">
                </div>
                <div class="action_item change">
                    <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                </div>
            </div>
            <input class="image_input" name="preview_{% if next_item_number %}{{ next_item_number }}{% else %}1{% endif %}" type="file" accept="image/png,image/jpeg">
            {% if first_start %}
            <input class="existing_preview_position" hidden="hidden" name="existing_preview_position_{% if next_item_number %}{{ next_item_number }}{% else %}1{% endif %}" type="text" value="{% if next_item_number %}{{ next_item_number }}{% else %}1{% endif %}">
            {% endif %}
        </div>
        <div class="move_bar">
            <img src="{% static 'svg/Arrows/Left_Right.svg' %}">
        </div>
    </div>
</div>