{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/add_recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/add_news.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/ckeditor.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:profile' %}"><p>Профиль</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:create' %}"><p>Добавление статьи</p></a>
        </section>
        <div class="main_content">
            <form action="{% url 'news:create' %}" method="post" class="edit_section">
                {% csrf_token %}
                <div class="main_title">
                    <span class="line"></span>
                    <h1 class="lilita_font green">Добавление новой статьи</h1>
                    <span class="line"></span>
                </div>
                <div class="sub_section title_and_opacity">
                    <span class="anchor_hidden" id="title_and_opacity"></span>
                    <h2>Название и видимость</h2>
                    <div class="title">
                        <h3>Название статьи</h3>
                        <div class="input_wrapper">
                            {{ form.title }}
                        </div>
                        <div class="marks_limits">
                            <h4>Мин. знаков: <span class="orange">20</span></h4>
                            <h4>Макс. знаков: <span class="orange">40</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols heart">0</span></h4>
                        </div>
                    </div>
                    <div class="opacity">
                        <h3>Кто видит опубликованную статью</h3>
                        <fieldset id="opacity_radios">
                            {% for radio in form.visibility %}
                            <div class="opacity_item">
                                {{ radio.tag }}
                                {% with selected_value=forloop.counter %}
                                <label for="{{ radio.id_for_label }}"><h4>{{ visibility_descriptions|get_first_value:selected_value }}</h4></label>
                                <label for="{{ radio.id_for_label }}"><h4 class="black_50">{{ visibility_descriptions|get_second_value:selected_value }}</h4></label>
                                {% endwith %}
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section news_content">
                    <span class="anchor_hidden" id="news_content"></span>
                    <h2>Содержание статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Содержание статьи разбито на <span class="black">3 блока</span>:</h4>
                        <h4 class="black_50"><span class="black">Первая часть</span> - Текст, который будет показваться <span class="black">в первую очередь</span></h4>
                        <h4 class="black_50"><span class="black">Вставка</span> - Интересный факт, дополнение, справочная информация, показывается в выделенном блоке <span class="black">между 1й и 2й частями статьи</span></h4>
                        <h4 class="black_50"><span class="black">Вторая часть</span> - Текст, который будет <span class="black">заключительным</span>, показывается после Первой части и Вставки</h4>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Первая часть*</h3>
                            <img class="part_1" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            {{ form.media }}
                            {{ form.content_start }}
                        </div>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Вставка</h3>
                            <img class="insertion" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            {{ form.content_middle }}
                        </div>
                        <div class="marks_limits">
                            <h4>Макс. знаков: <span class="orange">200</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols orange">0</span></h4>
                        </div>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Вторая часть</h3>
                            <img class="part_2" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            {{ form.content_end }}
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section ready_dish_photo">
                    <span class="anchor_hidden" id="ready_dish_photo"></span>
                    <h2>Главное фото статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Добавьте фото, которое будет показываться на карточке и внутри статьи на самом верху. Помните про условия:</h4>
                        <div class="condition">
                            <h4 class="medium_font">1.</h4>
                            <h4>Горизонтальный формат изображения.</h4>
                            <img src="{% static 'svg/Yes_No/Horizontal_vertical.svg' %}">
                        </div>
                        <div class="condition">
                            <h4 class="medium_font">2.</h4>
                            <h4>Фото должно соответствовать содержанию статьи.</h4>
                        </div>
                    </div>
                    <div class="photo_list">
                        {% if object.preview %}
                            {% include "news/includes/news_main_photo.html" with ready_photo=object.preview next_item_number=1 %}
                        {% else %}
                            {% include "news/includes/news_main_photo.html" with next_item_number=1 %}
                        {% endif %}
                    </div>
<!--                    <div data-url="{% url 'recipes:add_ready_photo_ajax' %}" class="add_photo_button {% if object.preview %}d_none{% endif %}">-->
<!--                        <img src="{% static 'svg/Cookie/Add_image_half_black.svg' %}">-->
<!--                        <div class="info">-->
<!--                            <p class="black_50">Добавь фото своей статьи</p>-->
<!--                            <p class="black_50">Перетащи или нажми, чтобы выбрать</p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <span class="line"></span>
                <div class="sub_section description_to_recipe">
                    <span class="anchor_hidden" id="description_to_recipe"></span>
                    <h2>Описание статьи</h2>
                    <div class="title">
                        <label for="{{ form.description_card.id_for_label }}"><h3>Мини-описание для карточки статьи</h3></label>
                        <h4 class="black_50">Старайтесь кратко описать чем интересна ваша статья, так больше вероятность, что её посмотрит больше людей</h4>
                        <div class="input_wrapper">
                            {{ form.description_card }}
                        </div>
                        <div class="marks_limits">
                            <h4>Мин. знаков: <span class="orange">30</span></h4>
                            <h4>Макс. знаков: <span class="orange">50</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols heart">0</span></h4>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section categories">
                    <span class="anchor_hidden" id="categories"></span>
                    <h2>Категории статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Добавьте категории к своей статье, старайтесь добавлять только то, что упоминается в вашей статье</h4>
                    </div>
                    <div class="title">
                        <h3>Категории</h3>
                        <h4 class="black_50">Выбрано категорий: <span class="categories_count black medium_font">0/10</span></h4>
                    </div>
                    <div class="categories_list">
                        {% for category_group in category_groups %}
                        <div class="title_and_list">
                            <h4 class="lilita_font">{{ category_group.title }}</h4>
                            <span class="line"></span>
                            {% for category in category_group.categories.all %}
                            <div class="category_item">
                                <div class="category first_category">
                                    {{ form.categories|get_checkbox:category.id }}
                                    <label for="id_categories_{{ category.id }}"><p>{{ category.name }}</p></label>
                                    <img class="plus d_none" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                    <img class="minus" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                </div>
                                <div class="second_categories">
                                    {% for sub_category in category.children.all %}
                                    <div class="category">
                                        {{ form.categories|get_checkbox:sub_category.id }}
                                        <label for="id_categories_{{ sub_category.id }}"><p>{{ sub_category.name }}</p></label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="continue_and_drafts publish_and_drafts">
                    <button name="publish" value="submit" type="submit" class="continue_button">
                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                        <h3 class="medium_font white">Опубликовать</h3>
                    </button>
                    <button name="save" value="submit" type="submit" class="drafts_button">
                        <img src="{% static 'svg/Random_icons/Edit_icon_half_black.svg' %}">
                        <h3 class="black_50">Сохранить</h3>
                    </button>
                </div>
            </form>
            <section class="navigation_section d_mobile_none">
                <h3>Быстрая навигация</h3>
                <div class="links_wrapper">
                    <a href="#title_and_opacity" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="current">Название и видимость</h4>
                    </a>
                    <a href="#news_content" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Содержание статьи</h4>
                    </a>
                    <a href="#ready_dish_photo" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Главное фото статьи</h4>
                    </a>
                    <a href="#description_to_recipe" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Описание статьи</h4>
                    </a>
                    <a href="#categories" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Категории статьи</h4>
                    </a>
                </div>
            </section>
        </div>
        <div class="pop_up_window part_1_window d_none">
            <div class="inner_wrapper">
                <p>Начало вашей статьи, этот текст пользователь увидит первым делом</p>
            </div>
        </div>
        <div class="pop_up_window insertion_window d_none">
            <div class="inner_wrapper">
                <p>Интересный факт, важная информация и т.п. В статье выделяется в рамку и находится между 1й и 2й частями статьи</p>
            </div>
        </div>
        <div class="pop_up_window part_2_window d_none">
            <div class="inner_wrapper">
                <p>Последняя часть статьи, этот текст пользователь увидит после 1й части и Вставки</p>
            </div>
        </div>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script>
        const default_load_image = "{% static 'img/Default/Load_image.jpg' %}";
    </script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/news_create/image_actions.js' %}"></script>
    <script src="{% static 'js/create_page/general.js' %}"></script>
    <script src="{% static 'js/news_create/add_news.js' %}"></script>
    <script src="{% static 'js/recipe_create/change_symbols_count.js' %}"></script>
{% endblock %}