{% extends 'recipes/base.html' %}
{% load static %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/add_recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/add_news.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:profile' %}"><p>Профиль</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:create' %}"><p>Добавление статьи</p></a>
        </section>
        <div class="main_content">
            <section class="edit_section">
                <div class="main_title">
                    <span class="line"></span>
                    <h1 class="lilita_font green">Добавление новой статьи</h1>
                    <span class="line"></span>
                </div>
                <div class="sub_section title_and_opacity">
                    <span class="anchor_hidden" id="title_and_opacity"></span>
                    <h2>Название и видимость</h2>
                    <div class="title">
                        <h3>Название статьи</h3>
                        <div class="input_wrapper">
                            <input min="20" max="40" placeholder="Введите название статьи">
                        </div>
                        <div class="marks_limits">
                            <h4>Мин. знаков: <span class="orange">20</span></h4>
                            <h4>Макс. знаков: <span class="orange">40</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols heart">0</span></h4>
                        </div>
                    </div>
                    <div class="opacity">
                        <h3>Кто видит опубликованный рецепт</h3>
                        <fieldset id="opacity_radios">
                            <div class="opacity_item">
                                <input id="opacity_all" type="radio" name="opacity_radios">
                                <label for="opacity_all"><h4>Все</h4></label>
                                <label for="opacity_all"><h4 class="black_50">(видна всем и везде)</h4></label>
                            </div>
                            <div class="opacity_item">
                                <input id="opacity_profile" type="radio" name="opacity_radios">
                                <label for="opacity_profile"><h4>Только в профиле</h4></label>
                                <label for="opacity_profile"><h4 class="black_50">(видна всем у вас на странице)</h4></label>
                            </div>
                            <div class="opacity_item">
                                <input id="opacity_subs" type="radio" name="opacity_radios">
                                <label for="opacity_subs"><h4>Только подписчики</h4></label>
                                <label for="opacity_subs"><h4 class="black_50">(видна только подписчикам)</h4></label>
                            </div>
                            <div class="opacity_item">
                                <input id="opacity_me" type="radio" name="opacity_radios">
                                <label for="opacity_me"><h4>Только я</h4></label>
                                <label for="opacity_me"><h4 class="black_50">(приватная, видна только вам)</h4></label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section news_content">
                    <span class="anchor_hidden" id="news_content"></span>
                    <h2>Содержание статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Содержание статьи разбито на <span class="black">3 блока</span>:</h4>
                        <h4 class="black_50"><span class="black">Первая часть</span> - Текст, который будет показваться <span class="black">в первую очередь</span></h4>
                        <h4 class="black_50"><span class="black">Вставка</span> - Интересный факт, дополнение, справочная информация, показывается в выделенном блоке <span class="black">между 1й и 2й частями статьи</span></h4>
                        <h4 class="black_50"><span class="black">Вторая часть</span> - Текст, который будет <span class="black">заключительным</span>, показывается после Первой части и Вставки</h4>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Первая часть</h3>
                            <img class="part_1" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            <textarea placeholder="Придумайте мини-описание для карточки рецепта"></textarea>
                        </div>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Вставка</h3>
                            <img class="insertion" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            <textarea minlength="0" maxlength="200" placeholder="Придумайте мини-описание для карточки рецепта"></textarea>
                        </div>
                        <div class="marks_limits">
                            <h4>Макс. знаков: <span class="orange">200</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols orange">0</span></h4>
                        </div>
                    </div>
                    <div class="title">
                        <div class="sub_title_and_mark">
                            <h3>Вторая часть</h3>
                            <img class="part_2" src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                        </div>
                        <div class="input_wrapper">
                            <textarea placeholder="Придумайте мини-описание для карточки рецепта"></textarea>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section ready_dish_photo">
                    <span class="anchor_hidden" id="ready_dish_photo"></span>
                    <h2>Главное фото статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Добавьте фото, которое будет показываться на карточке и внутри статьи на самом верху. Помните про условия:</h4>
                        <div class="condition">
                            <h4 class="medium_font">1.</h4>
                            <h4>Горизонтальный формат изображения.</h4>
                            <img src="{% static 'svg/Yes_No/Horizontal_vertical.svg' %}">
                        </div>
                    </div>
                    <div class="photo_list">
                        <div class="photo_item">
                            <div class="photo_wrapper">
                                <div class="image_wrapper">
                                    <img class="back_image" src="{% static 'img/recipe_and_article/noodles.jpg' %}">
                                    <div class="delete_and_change">
                                        <div class="action_item delete">
                                            <img src="{% static 'svg/Random_icons/Trash_icon.svg' %}">
                                        </div>
                                        <div class="action_item change">
                                            <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add_photo_button">
                        <img src="{% static 'svg/Cookie/Add_image_half_black.svg' %}">
                        <div class="info">
                            <p class="black_50">Добавь фото к своей статье</p>
                            <p class="black_50">Перетащи или нажми, чтобы выбрать</p>
                        </div>
                        <input class="image_input" type="file">
                    </div>
                </div>
                <div class="continue_and_drafts">
                    <button class="continue_button">
                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                        <h3 class="medium_font white">Продолжить</h3>
                    </button>
                    <button class="drafts_button">
                        <img src="{% static 'svg/Random_icons/Edit_icon_half_black.svg' %}">
                        <h3 class="black_50 d_mobile_none">Сохранить в черновики</h3>
                        <h3 class="black_50 d_desktop_none">Сохранить</h3>
                    </button>
                </div>
                <span class="line"></span>
                <div class="sub_section description_to_recipe">
                    <span class="anchor_hidden" id="description_to_recipe"></span>
                    <h2>Описание статьи</h2>
                    <div class="title">
                        <h3>Мини-описание для карточки статьи</h3>
                        <h4 class="black_50">Старайтесь кратко описать чем интересна ваша статья, так больше вероятность, что её посмотрит больше людей</h4>
                        <div class="input_wrapper">
                            <textarea minlength="30" maxlength="60" placeholder="Придумайте мини-описание для карточки рецепта"></textarea>
                        </div>
                        <div class="marks_limits">
                            <h4>Мин. знаков: <span class="orange">30</span></h4>
                            <h4>Макс. знаков: <span class="orange">60</span></h4>
                            <h4>Ваши знаки: <span class="my_symbols heart">0</span></h4>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="sub_section categories">
                    <span class="anchor_hidden" id="categories"></span>
                    <h2>Категории статьи</h2>
                    <div class="title">
                        <h4 class="black_50">Добавьте категории к своей статье, старайтесь добавлять только то, что упоминается в вашей статье</h4>
                    </div>
                    <div class="title">
                        <h3>Категории</h3>
                        <h4 class="black_50">Выбрано категорий: <span class="categories_count black medium_font">0/10</span></h4>
                    </div>
                    <div class="categories_list">
                        <div class="title_and_list">
                            <h4 class="lilita_font">Кухня</h4>
                            <span class="line"></span>
                            <div class="category_item">
                                <div class="category first_category">
                                    <input type="checkbox" name="euro">
                                    <label for="euro"><p>Европейская</p></label>
                                    <img class="plus d_none" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                    <img class="minus" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                </div>
                                <div class="second_categories">
                                    <div class="category">
                                        <input id="euro" type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                    <div class="category">
                                        <input type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                    <div class="category">
                                        <input type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title_and_list">
                            <h4 class="lilita_font">Кухня</h4>
                            <span class="line"></span>
                            <div class="category_item">
                                <div class="category first_category">
                                    <input type="checkbox" name="euro">
                                    <label for="euro"><p>Европейская</p></label>
                                    <img class="plus d_none" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                    <img class="minus" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                </div>
                                <div class="second_categories">
                                    <div class="category">
                                        <input id="euro" type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                    <div class="category">
                                        <input type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                    <div class="category">
                                        <input type="checkbox" name="euro">
                                        <label for="euro"><p>Европейская</p></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="continue_and_drafts publish_and_drafts">
                    <button class="continue_button">
                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                        <h3 class="medium_font white">Опубликовать</h3>
                    </button>
                    <button class="drafts_button">
                        <img src="{% static 'svg/Random_icons/Edit_icon_half_black.svg' %}">
                        <h3 class="black_50 d_mobile_none">Сохранить в черновики</h3>
                        <h3 class="black_50 d_desktop_none">Сохранить</h3>
                    </button>
                </div>
            </section>
            <section class="navigation_section d_mobile_none">
                <h3>Быстрая навигация</h3>
                <div class="links_wrapper">
                    <a href="#title_and_opacity" class="link_item">
                        <img src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="done">Название и видимость</h4>
                    </a>
                    <a href="#news_content" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="current">Содержание статьи</h4>
                    </a>
                    <a href="#ready_dish_photo" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Главное фото статьи</h4>
                    </a>
                    <a href="#description_to_recipe" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Описание статьи</h4>
                    </a>
                    <a href="#categories" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Категории статьи</h4>
                    </a>
                </div>
            </section>
        </div>
        <div class="pop_up_window part_1_window d_none">
            <div class="inner_wrapper">
                <p>Начало вашей статьи, этот текст пользователь увидит первым делом</p>
            </div>
        </div>
        <div class="pop_up_window insertion_window d_none">
            <div class="inner_wrapper">
                <p>Интересный факт, важная информация и т.п. В статье выделяется в рамку и находится между 1й и 2й частями статьи</p>
            </div>
        </div>
        <div class="pop_up_window part_2_window d_none">
            <div class="inner_wrapper">
                <p>Последняя часть статьи, этот текст пользователь увидит после 1й части и Вставки</p>
            </div>
        </div>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.6/Sortable.min.js" integrity="sha512-csIng5zcB+XpulRUa+ev1zKo7zRNGpEaVfNB9On1no9KYTEY/rLGAEEpvgdw6nim1WdTuihZY1eqZ31K7/fZjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/add_news.js' %}"></script>
{% endblock %}