{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block og_url %}{{ request.scheme }}://{{ request.get_host }}{% if kwargs.slug %}{% url 'news:category' kwargs.slug %}{% else %}{% url 'news:index' %}{% endif %}{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/news/news_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/articles.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_category.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/pagination.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:index' %}"><p>Статьи</p></a>
            {% if kwargs.slug %}
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:index' %}"><p>Категория</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:category' kwargs.slug %}"><p>{{ kwargs.slug_name }}</p></a>
            {% endif %}
        </section>
        <div class="main_content">
            <section class="category_section d_mobile_none">
                <div class="category_wrapper">
                    <div class="category_show_hide_wrapper d_desktop_none">
                        <div class="hide_wrapper">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}">
                            <h2 class="lilita_font cookie">Скрыть категории</h2>
                        </div>
                        <div class="show_wrapper d_none">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}" style="transform:  rotate(180deg);">
                            <h2 class="lilita_font cookie">Показать категории</h2>
                        </div>
                    </div>
                    {% for category_group in category_groups %}
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">{{ category_group.title }}</h3>
                            <h2 class="lilita_font d_desktop_none">{{ category_group.title }}</h2>
                            <span class="line"></span>
                        </div>
                        {% for category in category_group.categories.all %}
                        <div class="category_content">
                            <div class="main_name">
                                <a href="{% url 'news:category' category.slug %}">
                                    <p>{{ category.name }}</p>
                                </a>
                                {% if category.children.exists %}
                                <img class="minus d_none" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                <img class="plus" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                {% endif %}
                            </div>
                            <ul class="d_none">
                                {% for children in category.children.all %}
                                <li><a href="{% url 'news:category' children.slug %}">{{ children.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="articles_section">
                {% if object_list.exists %}
                <div class="cards_wrapper">
                    {% include "news/includes/news_cards.html" with news_list=object_list %}
                </div>
                {% else %}
                    {{ empty_block }}
                {% endif %}
            </section>
        </div>
        {% if is_paginated %}
        {% if kwargs.slug %}
        <section class="pagination">
            {% if page_obj.has_previous %}
            <a href="{% url 'news:paginator' page_obj.previous_page_number kwargs.slug %}" class="pagination_button" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button disabled" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}

            <div class="page_numbers_wrapper">
                {% for page in paginator.page_range %}
                <a class="page_link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator' page kwargs.slug %}">
                    <h3>{{ page }}</h3>
                </a>
                {% endfor %}
            </div>

            {% if page_obj.has_next %}
            <a href="{% url 'news:paginator' page_obj.next_page_number kwargs.slug %}" class="pagination_button next" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button next disabled" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}
        </section>
        {% else %}
        <section class="pagination">
            {% if page_obj.has_previous %}
            <a href="{% url 'news:paginator' page_obj.previous_page_number %}" class="pagination_button" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button disabled" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}

            <div class="page_numbers_wrapper">
                {% for page in paginator.page_range %}
                <a class="page_link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator' page %}">
                    <h3>{{ page }}</h3>
                </a>
                {% endfor %}
            </div>

            {% if page_obj.has_next %}
            <a href="{% url 'news:paginator' page_obj.next_page_number %}" class="pagination_button next" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% else %}
            <a class="pagination_button next disabled" data-wpel-link="internal">
                <img src="{% static 'svg/Arrows/White_right.svg' %}">
            </a>
            {% endif %}
        </section>
        {% endif %}
        {% endif %}
    </main>
{% endblock %}

{% block custom_scripts %}

{% endblock %}