{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block extra_meta %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ iso_published_date }}">
    <meta property="article:author" content="{% if object.author.name %}{{ object.author.name }}{% else %}{{ object.author.username }}{% endif %}">
{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/news_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_category.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/detail_news.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/comments.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:index' %}"><p>Статьи</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:detail' object.id object.slug %}"><p>{{ object.title }}</p></a>
        </section>
        <div class="main_content">
            <section class="category_section d_mobile_none">
                <div class="category_wrapper">
                    <div class="category_show_hide_wrapper d_desktop_none">
                        <div class="hide_wrapper">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}">
                            <h2 class="lilita_font cookie">Скрыть категории</h2>
                        </div>
                        <div class="show_wrapper d_none">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}" style="transform:  rotate(180deg);">
                            <h2 class="lilita_font cookie">Показать категории</h2>
                        </div>
                    </div>
                    {% for category_group in category_groups %}
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">{{ category_group.title }}</h3>
                            <h2 class="lilita_font d_desktop_none">{{ category_group.title }}</h2>
                            <span class="line"></span>
                        </div>
                        {% for category in category_group.categories.all %}
                        <div class="category_content">
                            <div class="main_name">
                                <a href="{% url 'news:category' category.slug %}">
                                    <p>{{ category.name }}</p>
                                </a>
                                {% if category.children.exists %}
                                <img class="minus d_none" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                <img class="plus" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                {% endif %}
                            </div>
                            <ul class="d_none">
                                {% for children in category.children.all %}
                                <li><a href="{% url 'news:category' children.slug %}">{{ children.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="news_section">
                <div class="news_header">
                    <h1>{{ object.title }}</h1>
                    <div class="stats">
                        <div class="rating_and_views">
                            <a href="#reviews_section" class="rating">
                                <h4 class="black_75">Рейтинг:</h4>
                                <div class="stars">
                                    {% for _ in object.stars_on_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                    {% endfor %}
                                    {% for _ in object.stars_off_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                    {% endfor %}
                                </div>
                                <h4 class="black_75">({{ object.newsreview_set.count }})</h4>
                            </a>
                            <div class="date_and_views">
                                <h4 class="black_75 d_mobile_none">Опубликована: {{ object.formated_published_date }}</h4>
                                <div class="views">
                                    <img src="{% static 'svg/Random_icons/Eye_icon.svg' %}">
                                    <h4 class="green">{{ object.views }}</h4>
                                </div>
                            </div>
                        </div>
                        <h4 class="black_75 d_desktop_none">Опубликована: {{ object.formated_published_date }}</h4>
                    </div>
                    <div class="news_author">
                        <a href="{% url 'users:author' object.author.username %}" class="image_wrapper circle">
                            {% if object.author.avatar %}
                            <img class="circle" src="{{ object.author.optimized_image.url }}">
                            {% else %}
                            <img class="circle" src="{% static 'img/Profile/author_default.png' %}">
                            {% endif %}
                        </a>
                        <div class="info">
                            <a href="{% url 'users:author' object.author.username %}"><h4>Автор статьи: {{ object.author }}</h4></a>
                            <h5>{{ object.author.description_news }}</h5>
                        </div>
                    </div>
                    <div class="image_wrapper">
                        <img src="{{ object.optimized_image_small.url }}">
                    </div>
                    {% if object.headings %}
                    <div class="paragraphs_wrapper">
                        <h4>Содержание</h4>
                        <div class="paragraphs">
                            {% for heading in object.headings %}
                            <a href="#{{ heading.anchor }}"><h4 class="green">{{ heading.text }}</h4></a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="news_content">
                    {{ object.content_start|safe }}
                </div>
                <div class="news_insert">
                    <img src="{% static 'svg/Cookie/TR_avatar.svg' %}">
                    <h4>{{ object.content_middle }}</h4>
                </div>
                <div class="news_content">
                    {{ object.content_end|safe }}
                </div>
                <div class="news_reviews">
                    <span class="anchor_hidden" id="reviews_section"></span>
                    <div class="rating_wrapper">
                        <h4 class="medium_font">Оцени статью “{{ object.title }}”</h4>
                        <div data-require-auth data-id="{{ object.id }}" data-type="news" data-url="{% url 'news:change_rating_ajax' %}" data-url-delete="{% url 'news:delete_rating_ajax' %}" class="stars">
                            {% for _ in object.stars_on_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_half_on.svg' %}">
                            {% endfor %}
                            {% for _ in object.stars_off_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_off.svg' %}">
                            {% endfor %}
                        </div>
                        <div class="info">
                            <h4>Средняя оценка: <span class="medium_font cookie">{{ object.rating }}</span></h4>
                            <h4>Голосов: <span class="medium_font cookie">{{ object.newsreview_set.count }}</span></h4>
                        </div>
                    </div>
                    <div class="share_wrapper">
                        <h4 class="medium_font">Расскажи про статью друзьям!</h4>
                        <div class="socials">
                            <img class="share_option" data-social="tg" src="{% static 'svg/Socials_Colorful/TG.svg' %}">
                            <img class="share_option" data-social="vk" src="{% static 'svg/Socials_Colorful/VK.svg' %}">
                            <img class="share_option" data-social="ws" src="{% static 'svg/Socials_Colorful/WS.svg' %}">
                            <img class="share_option" data-social="pinterest" src="{% static 'svg/Socials_Colorful/Pinterest.svg' %}">
                            <div class="copy_wrapper">
                                <img class="copy_option" data-social="copy" src="{% static 'svg/Socials_Colorful/Copy.svg' %}">
                                <div class="copy_window">
                                    <div class="inner_wrapper">
                                        <h5>Ссылка скопирована!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if recs_recipes %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Рекомендуем попробовать</h2>
                    <span class="line"></span>
                </div>
                <div class="recipe_recs swiper">
                    <div class="recipe_recs_wrapper swiper-wrapper">
                        {% include "recipes/includes/recipe_cards.html" with recipes_list=recs_recipes swiper_slide=True %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% for item in recs_recipes %}
                <div data-id="{{ item.id }}" class="pop_up_window cook_time_window d_none">
                                <p>Время приготовления</p>
                                <div class="inner_wrapper">
                                    <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                    <h5 class="green">Общее - {{ item.cook_time_full|short_timedelta }}</h5>
                                </div>
                                <div class="inner_wrapper">
                                    <img src="{% static 'svg/Random_icons/Clock_icon_red.svg' %}">
                                    <h5 class="red">Активное - {{ item.cook_time_active|short_timedelta }}</h5>
                                </div>
                            </div>
                <div data-id="{{ item.id }}" class="pop_up_window ingredients_window d_none">
                                <p>Ингредиенты</p>
                                {% for ingredient in item.recipeingredient_set.all %}
                                <div class="inner_wrapper">
                                    <h5>{{ ingredient.ingredient.title }} - {{ ingredient.quantity|round_ingredient_count }} {{ ingredient.unit }}</h5>
                                </div>
                                {% endfor %}
                            </div>
                {% endfor %}
                {% endif %}
                {% if recs_news %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Другие статьи</h2>
                    <span class="line"></span>
                </div>
                <div class="news_recs swiper">
                    <div class="news_recs_wrapper swiper-wrapper">
                        {% include "news/includes/news_cards.html" with news_list=recs_news swiper_slide=True %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% endif %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Оставь комментарий!</h2>
                    <span class="line"></span>
                </div>
                <form action="{% url 'news:add_comment_ajax' %}" method="post" enctype="multipart/form-data" class="news_add_comment add_comment">
                    {% csrf_token %}
                    <div class="input_wrapper">
                        <textarea required="required" name="text" placeholder="Поделитесь своими мыслями"></textarea>
                        <button data-require-auth type="submit" class="input_button">
                            <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                        </button>
                    </div>
                </form>
                <div class="news_comments comments {% if not comments %}d_none{% endif %}">
                    {% for item in comments %}
                    <div data-parent-id="{{ item.id }}" class="comment_wrapper">
                        <div data-comment-id="{{ item.id }}" class="comment_item parent">
                            <div class="author_info">
                                <a href="{% url 'users:author' item.author.username %}" class="image_wrapper">
                                    {% if item.author.avatar %}
                                    <img src="{{ item.author.optimized_image_small.url }}">
                                    {% else %}
                                    <img src="{% static 'img/Profile/author_default.png' %}">
                                    {% endif %}
                                </a>
                                <div class="info">
                                    <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                                    <h5 class="black_75">{{ item.published_date|naturaltime }}</h5>
                                </div>
                                <div class="comment_actions d_none">
                                    <div class="action answer">
                                        <h5 class="medium_font black_50">Ответить</h5>
                                    </div>
                                    {% if item.author_id == user.id %}
                                    <div data-url="{% url 'news:delete_comment_ajax' %}" class="action delete">
                                        <h5 class="medium_font black_50">Удалить</h5>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content">
                                {% if item.image %}
                                <div class="image_wrapper">
                                    <img src="{{ item.optimized_image_small.url }}">
                                </div>
                                {% endif %}
                                <h5>{{ item.text }}</h5>
                            </div>
                            <div data-url="{% url 'news:comment_reaction_change_ajax' %}" class="rating">
                                <div class="likes">
                                    {% if item in user.liked_news_comments.all %}
                                    <img class="active" src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                    {% endif %}

                                    {% if item.likes %}
                                    <h5>{{ item.likes }}</h5>
                                    {% endif %}
                                </div>
                                <div class="dislikes">
                                    {% if item in user.disliked_news_comments.all %}
                                    <img class="active" src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                    {% endif %}

                                    {% if item.dislikes %}
                                    <h5>{{ item.dislikes }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if item.children.exists %}
                        <div class="answers d_none">
                            <span class="line"></span>
                            <div class="answers_list">
                                {% for answer in item.children.all|published_date_minus %}
                                <div data-comment-id="{{ answer.id }}" class="comment_item">
                                    <div class="author_info">
                                        <a href="{% url 'users:author' answer.author.username %}" class="image_wrapper">
                                            {% if answer.author.avatar %}
                                            <img src="{{ answer.author.optimized_image_small.url }}">
                                            {% else %}
                                            <img src="{% static 'img/Profile/author_default.png' %}">
                                            {% endif %}
                                        </a>
                                        <div class="info">
                                            <h4>{% if answer.author.name %}{{ answer.author.name }}{% else %}{{ answer.author.username }}{% endif %}</h4>
                                            <h5 class="black_75">{{ answer.published_date|naturaltime }}</h5>
                                        </div>
                                        <div class="comment_actions d_none">
                                            {% if item.author_id == user.id %}
                                            <div data-url="{% url 'news:delete_comment_ajax' %}" class="action delete">
                                                <h5 class="medium_font black_50">Удалить</h5>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content">
                                        {% if answer.image %}
                                        <div class="image_wrapper">
                                            <img src="{{ answer.optimized_image_small.url }}">
                                        </div>
                                        {% endif %}
                                        <h5>{{ answer.text }}</h5>
                                    </div>
                                    <div data-url="{% url 'news:comment_reaction_change_ajax' %}" class="rating">
                                        <div class="likes">
                                            {% if answer in user.liked_news_comments.all %}
                                            <img class="active" src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.likes %}
                                            <h5>{{ answer.likes }}</h5>
                                            {% endif %}
                                        </div>
                                        <div class="dislikes">
                                            {% if answer in user.disliked_news_comments.all %}
                                            <img class="active" src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.dislikes %}
                                            <h5>{{ answer.dislikes }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="change_visibility_answers hide_answers d_none">
                            <h5 class="black_75">Скрыть ответы</h5>
                        </div>
                        <div class="change_visibility_answers show_answers">
                            <h5 class="black_75">Показать ответы ({{ item.children.count }})</h5>
                        </div>
                        {% endif %}
                        <form data-parent-id="{{ item.id }}" action="{% url 'news:add_comment_ajax' %}" method="post" enctype="multipart/form-data" class="add_answer_comment d_none">
                            {% csrf_token %}
                            <div class="input_wrapper">
                                <textarea required="required" name="text" placeholder="Ответьте на комментарий"></textarea>
                                <button type="submit" class="input_button">
                                    <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                                </button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                    {% if comments.has_next %}
                    <div data-page="{{ comments.next_page_number }}" data-url="{% url 'news:load_more_comments_ajax' %}" class="show_more">
                        <h5 class="black_75">Показать ещё</h5>
                    </div>
                    {% endif %}
                </div>
            </section>
            <section class="art_section d_mobile_none">
                {% include "news/includes/news_cards.html" with news_list=news_side %}
            </section>
        </div>
    </main>
    <span class="d_none" id="object_info" data-id="{{ object.id }}" data-type="news"></span>
{% endblock %}

{% block custom_scripts %}
    <script>
        const star_on_icon = "{% static 'svg/Stars/Star_on.svg' %}";
        const user_review_exists = Boolean({{ user_review_exists }});
        let user_review_rating;
        if (user_review_exists == 1) {
            user_review_rating = Number({{ user_review_rating }});
        }
    </script>
    <script src="{% static 'js/set_rating.js' %}"></script>
    <script src="{% static 'js/comment_forms.js' %}"></script>
{% endblock %}