{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/news_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_category.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/detail_news.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:index' %}"><p>Статьи</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:detail' object.id object.slug %}"><p>{{ object.title }}</p></a>
        </section>
        <div class="main_content">
            <section class="category_section d_mobile_none">
                <div class="category_wrapper">
                    <div class="category_show_hide_wrapper d_desktop_none">
                        <div class="hide_wrapper">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}">
                            <h2 class="lilita_font cookie">Скрыть категории</h2>
                        </div>
                        <div class="show_wrapper d_none">
                            <img src="{% static 'svg/Random_icons/Show_Hide_icon_cookie.svg' %}" style="transform:  rotate(180deg);">
                            <h2 class="lilita_font cookie">Показать категории</h2>
                        </div>
                    </div>
                    {% for category_group in category_groups %}
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">{{ category_group.title }}</h3>
                            <h2 class="lilita_font d_desktop_none">{{ category_group.title }}</h2>
                            <span class="line"></span>
                        </div>
                        {% for category in category_group.categories.all %}
                        <div class="category_content">
                            <div class="main_name">
                                <a href="{% url 'news:category' category.slug %}">
                                    <p>{{ category.name }}</p>
                                </a>
                                {% if category.children.exists %}
                                <img class="minus d_none" src="{% static 'svg/Plus_Minus/Minus_blank.svg' %}">
                                <img class="plus" src="{% static 'svg/Plus_Minus/Plus_blank.svg' %}">
                                {% endif %}
                            </div>
                            <ul class="d_none">
                                {% for children in category.children.all %}
                                <li><a href="{% url 'news:category' children.slug %}">{{ children.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="news_section">
                <div class="news_header">
                    <h1>{{ object.title }}</h1>
                    <div class="stats">
                        <div class="rating_and_views">
                            <a href="#news_reviews" class="rating">
                                <h4 class="black_75">Рейтинг:</h4>
                                <div class="stars">
                                    {% for _ in stars_on_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                    {% endfor %}
                                    {% for _ in stars_off_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                    {% endfor %}
                                </div>
                                <h4 class="black_75">({{ object.reviews.count }})</h4>
                            </a>
                            <div class="date_and_views">
                                <h4 class="black_75 d_mobile_none">Опубликована: {{ published_date }}</h4>
                                <div class="views">
                                    <img src="{% static 'svg/Random_icons/Eye_icon.svg' %}">
                                    <h4 class="green">{{ object.views }}</h4>
                                </div>
                            </div>
                        </div>
                        <h4 class="black_75 d_desktop_none">Опубликована: {{ published_date }}</h4>
                    </div>
                    <div class="news_author">
                        <a href="{% url 'users:author' object.author.username %}" class="image_wrapper circle">
                            {% if object.author.avatar %}
                            <img class="circle" src="{{ object.author.avatar.url }}">
                            {% else %}
                            <img class="circle" src="{% static 'img/Profile/author_default.png' %}">
                            {% endif %}
                        </a>
                        <div class="info">
                            <a href="{% url 'users:author' object.author.username %}"><h4>Автор статьи: {{ object.author }}</h4></a>
                            <h5>{{ object.author.description_news }}</h5>
                        </div>
                    </div>
                    <div class="image_wrapper">
                        <img src="{{ object.preview.url }}">
                    </div>
                    <div class="paragraphs_wrapper">
                        <h4>Содержание</h4>
                        <div class="paragraphs">
                            <a href=""><h4 class="green">Зачем нужны яйца в выпечке</h4></a>
                            <a href=""><h4 class="green">Зачем нужны яйца в выпечке</h4></a>
                            <a href=""><h4 class="green">Зачем нужны яйца в выпечке</h4></a>
                            <a href=""><h4 class="green">Зачем нужны яйца в выпечке</h4></a>
                            <a href=""><h4 class="green">Зачем нужны яйца в выпечке</h4></a>
                        </div>
                    </div>
                </div>
                <div class="news_content">
                    {{ object.content_start|safe }}
                </div>
                <div class="news_insert">
                    <img src="{% static 'svg/Cookie/TR_avatar.svg' %}">
                    <h4>{{ object.content_middle }}</h4>
                </div>
                <div class="news_content">
                    {{ object.content_start|safe }}
                </div>
                <div class="news_reviews">
                    <span class="anchor_hidden" id="news_reviews"></span>
                    <div class="rating_wrapper">
                        <h4 class="medium_font">Оцени статью “{{ object.title }}”</h4>
                        <div data-id="{{ object.id }}" data-type="news" data-url="{% url 'users:change_rating_ajax' %}" data-url-delete="{% url 'users:delete_rating_ajax' %}" class="stars">
                            {% for _ in stars_on_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_half_on.svg' %}">
                            {% endfor %}
                            {% for _ in stars_off_count|repeat %}
                            <img src="{% static 'svg/Stars/Star_off.svg' %}">
                            {% endfor %}
                        </div>
                        <div class="info">
                            <h4>Средняя оценка: <span class="medium_font cookie">{{ object.rating }}</span></h4>
                            <h4>Голосов: <span class="medium_font cookie">{{ object.reviews.count }}</span></h4>
                        </div>
                    </div>
                    <div class="share_wrapper">
                        <h4 class="medium_font">Расскажи про статью друзьям!</h4>
                        <div class="socials">
                            <img src="{% static 'svg/Socials_Colorful/TG.svg' %}">
                            <img src="{% static 'svg/Socials_Colorful/VK.svg' %}">
                            <img src="{% static 'svg/Socials_Colorful/WS.svg' %}">
                            <img src="{% static 'svg/Socials_Colorful/Copy.svg' %}">
                        </div>
                    </div>
                </div>
                {% if recs_recipes %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Рекомендуем попробовать</h2>
                    <span class="line"></span>
                </div>
                <div class="recipe_recs swiper">
                    <div class="recipe_recs_wrapper swiper-wrapper">
                        {% for item in recs_recipes %}
                        <div class="recipe_item swiper-slide">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="{% url 'recipes:detail' item.id item.slug %}">
                                        <img class="back_image" src="{{ item.previews.preview_1.url }}">
                                    </a>
                                    {% if user.is_authenticated %}
                                        {% if item.id in user.liked_recipes_id %}
                                        <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                            <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                                        </div>
                                        {% else %}
                                        <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                            <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                        </div>
                                        {% endif %}
                                    {% else %}
                                    <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="info">
                                    <div class="calories">
                                        <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                                        <h4>{{ item.calculate_total_calories }} ккал</h4>
                                    </div>
                                    <div class="time">
                                        <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                        <h4>{{ item.cook_time_full|short_timedelta }}</h4>
                                    </div>
                                </div>
                                <a href="{% url 'recipes:detail' item.id item.slug %}">
                                    <h3 class="title medium_font">{{ item.title }}</h3>
                                </a>
                                <h4 class="description">{{ item.description_card }}</h4>
                            </div>
                            <div class="recipe_item_footer">
                                <a href="{% url 'users:author' item.author.username  %}" class="icon_title">
                                    <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                    <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% endif %}
                {% if recs_news %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Другие статьи</h2>
                    <span class="line"></span>
                </div>
                <div class="news_recs swiper">
                    <div class="news_recs_wrapper swiper-wrapper">
                        {% for item in recs_news %}
                        <div class="news_item swiper-slide">
                            <div class="news_item_header">
                                <div class="image_wrapper">
                                    <a href="{% url 'news:detail' item.id item.slug %}">
                                        <img class="back_image" src="{{ item.preview.url }}">
                                    </a>
                                    <div class="date_wrapper">
                                        <h4>{{ item.published_date }}</h4>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="rating">
                                        {% for _ in item.stars_on_count|repeat %}
                                        <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                        {% endfor %}
                                        {% for _ in item.stars_off_count|repeat %}
                                        <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                        {% endfor %}
                                        <h4 class="black_75">({{ item.reviews.count }})</h4>
                                    </div>
                                    <div class="views">
                                        <img src="{% static 'svg/Random_icons/Eye_icon.svg' %}">
                                        <h4 class="green">{{ item.views }}</h4>
                                    </div>
                                </div>
                                <a href="{% url 'news:detail' item.id item.slug %}">
                                    <h3 class="title medium_font">{{ item.title }}</h3>
                                </a>
                                <h4 class="description">{{ item.description_card }}</h4>
                            </div>
                            <div class="news_item_footer">
                                <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                                    <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                    <h4 class="black_75">{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                    <img class="swiper_nav next" src="{% static 'svg/Arrows/Slider_right.svg' %}">
                </div>
                {% endif %}
                <div class="news_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Оставь комментарий!</h2>
                    <span class="line"></span>
                </div>
                <div class="news_add_comment">
                    <div class="input_wrapper">
                        <textarea placeholder="Поделитесь своими мыслями"></textarea>
                        <button type="submit" class="input_button">
                            <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                        </button>
                    </div>
                </div>
                <div class="news_comments">
                    {% for item in object.comments.all %}
                    <div class="comment_wrapper">
                        <div class="comment_item">
                            <div class="author_info">
                                <a href="{% url 'users:author' item.author.username %}" class="image_wrapper">
                                    {% if item.author.avatar %}
                                    <img src="{{ item.author.avatar.url }}">
                                    {% else %}
                                    <img src="{% static 'img/Profile/author_default.png' %}">
                                    {% endif %}
                                </a>
                                <div class="info">
                                    <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                                    <h5 class="black_75">{{ item.published_date|naturaltime }}</h5>
                                </div>
                            </div>
                            <div class="content">
                                {% if item.image %}
                                <div class="image_wrapper">
                                    <img src="{{ item.image.url }}">
                                </div>
                                {% endif %}
                                <h5>{{ item.text }}</h5>
                            </div>
                            <div class="rating">
                                <div class="likes">
                                    {% if item.id in request.user.liked_comments_id %}
                                    <img src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                    {% endif %}

                                    {% if item.likes %}
                                    <h5>{{ item.likes }}</h5>
                                    {% endif %}
                                </div>
                                <div class="dislikes">
                                    {% if item.id in request.user.disliked_comments_id %}
                                    <img src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                    {% else %}
                                    <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                    {% endif %}

                                    {% if item.dislikes %}
                                    <h5>{{ item.dislikes }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if item.children %}
                        <div class="answers">
                            <span class="line"></span>
                            <div class="answers_list">
                                {% for answer in item.children.all %}
                                <div class="comment_item">
                                    <div class="author_info">
                                        <a href="{% url 'users:author' answer.author.username %}" class="image_wrapper">
                                            {% if answer.author.avatar %}
                                            <img src="{{ answer.author.avatar.url }}">
                                            {% else %}
                                            <img src="{% static 'img/Profile/author_default.png' %}">
                                            {% endif %}
                                        </a>
                                        <div class="info">
                                            <h4>{% if answer.author.name %}{{ answer.author.name }}{% else %}{{ answer.author.username }}{% endif %}</h4>
                                            <h5 class="black_75">{{ answer.published_date|naturaltime }}</h5>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {% if answer.image %}
                                        <div class="image_wrapper">
                                            <img src="{{ answer.image.url }}">
                                        </div>
                                        {% endif %}
                                        <h5>{{ answer.text }}</h5>
                                    </div>
                                    <div class="rating">
                                        <div class="likes">
                                            {% if answer.id in request.user.liked_comments_id %}
                                            <img src="{% static 'svg/Likes_Dislikes/Like_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Like_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.likes %}
                                            <h5>{{ answer.likes }}</h5>
                                            {% endif %}
                                        </div>
                                        <div class="dislikes">
                                            {% if answer.id in request.user.disliked_comments_id %}
                                            <img src="{% static 'svg/Likes_Dislikes/Dislike_fill.svg' %}">
                                            {% else %}
                                            <img src="{% static 'svg/Likes_Dislikes/Dislike_blank.svg' %}">
                                            {% endif %}

                                            {% if answer.dislikes %}
                                            <h5>{{ answer.dislikes }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hide_answers">
                            <h5 class="black_75">Скрыть ответы</h5>
                        </div>
                        {% endif %}
                        <div class="add_answer_comment">
                            <div class="input_wrapper">
                                <textarea placeholder="Ответьте на комментарий"></textarea>
                                <button type="submit" class="input_button">
                                    <img src="{% static 'svg/Arrows/Send_comment.svg' %}">
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="show_more">
                        <h5 class="black_75">Показать ещё</h5>
                    </div>
                </div>
            </section>
            <section class="art_section d_mobile_none">
                {% for item in news_side %}
                <div class="news_item">
                    <div class="news_item_header">
                        <div class="image_wrapper">
                            <a href="{% url 'news:detail' item.id item.slug %}">
                                <img class="back_image" src="{{ item.preview.url }}">
                            </a>
                            <div class="date_wrapper">
                                <h4>{{ item.published_date }}</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="rating">
                                {% for _ in item.stars_on_count|repeat %}
                                <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                {% endfor %}
                                {% for _ in item.stars_off_count|repeat %}
                                <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                {% endfor %}
                                <h4 class="black_75">({{ item.reviews.count }})</h4>
                            </div>
                            <div class="views">
                                <img src="{% static 'svg/Random_icons/Eye_icon.svg' %}">
                                <h4 class="green">{{ item.views }}</h4>
                            </div>
                        </div>
                        <a href="{% url 'news:detail' item.id item.slug %}">
                            <h3 class="title medium_font">{{ item.title }}</h3>
                        </a>
                        <h4 class="description">{{ item.description_card }}</h4>
                    </div>
                    <div class="news_item_footer">
                        <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                            <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                            <h4 class="black_75">{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                        </a>
                        <a href="">
                            <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script>
        const star_on_icon = "{% static 'svg/Stars/Star_on.svg' %}";
        const user_review_exists = Boolean({{ user_review_exists }});
        let user_review_rating;
        if (user_review_exists == 1) {
            user_review_rating = Number({{ user_review_rating }});
        }
    </script>
    <script src="{% static 'js/set_rating.js' %}"></script>
{% endblock %}