{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/add_recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/add_news.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/marks_limits.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/ckeditor.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:profile' %}"><p>Профиль</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'news:edit' object.id %}"><p>Редактирование статьи</p></a>
        </section>
        <div class="main_content">
            <form action="{% url 'news:edit' object.id %}" method="post" class="edit_section">
                {% csrf_token %}
                {% include "news/includes/inner_of_create_page.html" %}
            </form>
            <section class="navigation_section d_mobile_none">
                <h3>Быстрая навигация</h3>
                <div class="links_wrapper">
                    <a href="#title_and_opacity" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4 class="current">Название и видимость</h4>
                    </a>
                    <a href="#news_content" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Содержание статьи</h4>
                    </a>
                    <a href="#ready_dish_photo" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Главное фото статьи</h4>
                    </a>
                    <a href="#description_to_recipe" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Описание статьи</h4>
                    </a>
                    <a href="#categories" class="link_item">
                        <img class="d_none" src="{% static 'svg/Yes_No/Yes_light_green.svg' %}">
                        <h4>Категории статьи</h4>
                    </a>
                </div>
            </section>
        </div>
        <div class="pop_up_window part_1_window d_none">
            <div class="inner_wrapper">
                <p>Начало вашей статьи, этот текст пользователь увидит первым делом</p>
            </div>
        </div>
        <div class="pop_up_window insertion_window d_none">
            <div class="inner_wrapper">
                <p>Интересный факт, важная информация и т.п. В статье выделяется в рамку и находится между 1й и 2й частями статьи</p>
            </div>
        </div>
        <div class="pop_up_window part_2_window d_none">
            <div class="inner_wrapper">
                <p>Последняя часть статьи, этот текст пользователь увидит после 1й части и Вставки</p>
            </div>
        </div>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script>
        const default_load_image = "{% static 'img/Default/Load_image.jpg' %}";
    </script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/news_create/image_actions.js' %}"></script>
    <script src="{% static 'js/create_page/general.js' %}"></script>
    <script src="{% static 'js/news_create/add_news.js' %}"></script>
    <script src="{% static 'js/create_page/change_symbols_count.js' %}"></script>
{% endblock %}