:root {
    --color-white: #FFFFFF;
    --color-light-gray: #ACACAC;
    --color-light-ghost: #F1F1F1;

    --color-cookie: #F7B779;
    --color-orange: #D68C45;

    --color-green: #4C956C;
    --color-light-green: #95CF00;

    --color-pink: #FFC9B9;
    --color-red: #FF6766;
    --color-heart: #DB4443;
    
    --color-cream: #DDE5B6;
    --color-light-cream: #FEFEE3;
    
    --color-yellow: #26F42D;
    --color-link: #3161FF;
    
    --color-black: #000000;
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-75: rgba(0, 0, 0, 0.75);

    --tiny: 4px;
    --small: 8px;
    --normal: 12px;
    --mid: 16px;
    --big: 24px;
    --huge: 32px;
    --mega: 48px;

    --padding-window: 60px;
}

@media (max-width: 720px) {
    :root {
        --padding-window: var(--normal);
    }
}

.black_50 {
    color: var(--color-black-50);
}
.black_75 {
    color: var(--color-black-50);
}
.black {
    color: var(--color-black);
}
.white {
    color: var(--color-white);
}
.green {
    color: var(--color-green);
}
.orange {
    color: var(--color-orange);
}
.cookie {
    color: var(--color-cookie);
}
.red {
    color: var(--color-red);
}
.heart {
    color: var(--color-heart);
}