<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/general/inputs.css">
    <link rel="stylesheet" href="../static/css/general/vars.css">
    <link rel="stylesheet" href="../static/css/general/fonts.css">
    <link rel="stylesheet" href="../static/css/general/base.css">
    <link rel="stylesheet" href="../static/css/recipe/recipe_card.css">
    <link rel="stylesheet" href="../static/css/news/news_card.css">
    <link rel="stylesheet" href="../static/css/profile/profile.css">
    <link rel="stylesheet" href="../static/css/profile/author_page.css">
</head>
<body>
    <header>
        <div class="header_wrapper">
            <a href="main.html">
                <img id="main_cookie" src="../static/svg/Cookie/TR.svg">
            </a>
            
            <div class="header_sections d_mobile_none">
                <a href="popular_recipes.html"><h4 class="medium_font">Популярное</h4></a>
                <a href="category_recipes.html"><h4 class="medium_font">Рецепты по категориям</h4></a>
                <a href="articles.html"><h4 class="medium_font">Статьи</h4></a>
            </div>
            <div class="header_buttons">
                <img id="add_recipe" src="../static/svg/Plus_Minus/Plus_fill.svg">
                <img id="tg_notif" src="../static/svg/Socials_WB/Notif.svg">
                <img class="d_mobile_none" id="profile" src="../static/svg/Cookie/Cookie_with_hat.svg">
                <div class="burger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="top_waves_wrapper">
            <img class="d_mobile_none" id="top_waves" src="../static/svg/Shapes/Waves_header_desktop.svg">
            <img class="d_desktop_none" id="top_waves" src="../static/svg/Shapes/Waves_header_mobile.svg">
        </div>
    </header>
    <main>
        <section class="bread_crumbs">
            <a href=""><p>Главная</p></a>
            <img src="../static/svg/Arrows/Green_crumbs.svg">
            <a href=""><p>Страница автора</p></a>
        </section>
        <div class="main_content">
            <section class="profile_header d_mobile_none">
                <div class="content">
                    <div class="image_wrapper">
                        <img src="../static/img/Profile/author_default.png">
                    </div>
                    <div class="info">
                        <div class="name_tag_descr_achiv">
                            <div class="name_tag_descr">
                                <div class="name_and_tag">
                                    <h2>Дашка Мелешенко</h2>
                                    <h3>@dashka_meleshenko</h3>
                                </div>
                                <h5>Привет! Я Дашка Мелешенко - крутая создательница рецептов, автор кулинарных блогов в соцсетях, каналов на Рутубе и в Телеграм, а также автор книг, тренингов, мастер-классов и создатель нереального настроения.Мои рецепты самые лучшие, им можно доверять! У вас точно получится все приготовить красиво и вкусно. Приятного аппетита!</h5>
                            </div>
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="socials_and_date_joined">
                            <div class="socials_wrapper">
                                <h4>Соц сети:</h4>
                                <div class="socials">
                                    <img src="../static/svg/Socials_Colorful/TG.svg">
                                    <img src="../static/svg/Socials_Colorful/VK.svg">
                                    <img src="../static/svg/Socials_Colorful/Pinterest.svg">
                                    <img src="../static/svg/Socials_Colorful/Youtube.svg">
                                    <img src="../static/svg/Socials_Colorful/Rutube.svg">
                                </div>
                            </div>
                            <h4>На сайте с 20.10.2024</h4>
                        </div>
                    </div>
                </div>
                <div class="settings_wrapper">
                    <h4 class="medium_font">Популярность</h4>
                    <div class="settings">
                        <div class="subs_wrapper">
                            <p class="medium_font">Подписчики: 146</p>
                        </div>
                        <div class="sub_action_wrapper">
                            <p class="medium_font">Подписаться</p>
                        </div>
                        <div class="settings_item">
                            <img src="../static/svg/Cookie/Smile_green.svg">
                            <p>Опубликовано рецептов:</p>
                            <p class="medium_font">14</p>
                        </div>
                        <a href="" class="settings_item">
                            <img src="../static/svg/Random_icons/Article_icon.svg">
                            <p>Опубликовано статей:</p>
                            <p class="medium_font">4</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="profile_header d_desktop_none">
                <div class="avatar_and_settings">
                    <div class="image_wrapper">
                        <img src="../static/img/Profile/author_default.png">
                    </div>
                    <div class="settings_wrapper">
                        <h4 class="medium_font">Популярность</h4>
                        <div class="settings">
                            <div class="subs_wrapper">
                                <p class="medium_font">Подписчики: 146</p>
                            </div>
                            <div class="sub_action_wrapper">
                                <p class="medium_font">Подписаться</p>
                            </div>
                            <div class="settings_item">
                                <img src="../static/svg/Cookie/Smile_green.svg">
                                <p>Опубликовано рецептов:</p>
                                <p class="medium_font">14</p>
                            </div>
                            <a href="" class="settings_item">
                                <img src="../static/svg/Random_icons/Article_icon.svg">
                                <p>Опубликовано статей:</p>
                                <p class="medium_font">4</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="info">
                        <div class="name_tag_descr_achiv">
                            <div class="name_tag_descr">
                                <div class="name_and_tag">
                                    <h2>Дашка Мелешенко</h2>
                                    <h3>@dashka_meleshenko</h3>
                                </div>
                                <img src="../static/svg/Achievements/Comments_Silver.svg">
                            </div>
                            <h5>Привет! Я Дашка Мелешенко - крутая создательница рецептов, автор кулинарных блогов в соцсетях, каналов на Рутубе и в Телеграм, а также автор книг, тренингов, мастер-классов и создатель нереального настроения.Мои рецепты самые лучшие, им можно доверять! У вас точно получится все приготовить красиво и вкусно. Приятного аппетита!</h5>
                        </div>
                        <div class="socials_and_date_joined">
                            <div class="socials_wrapper">
                                <h4>Соц сети:</h4>
                                <div class="socials">
                                    <img src="../static/svg/Socials_Colorful/TG.svg">
                                    <img src="../static/svg/Socials_Colorful/VK.svg">
                                    <img src="../static/svg/Socials_Colorful/Pinterest.svg">
                                    <img src="../static/svg/Socials_Colorful/Youtube.svg">
                                    <img src="../static/svg/Socials_Colorful/Rutube.svg">
                                </div>
                            </div>
                            <h4>На сайте с 20.10.2024</h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="profile_chapters">
                <div class="chapter_wrapper">
                    <h4>Рецепты автора</h4>
                </div>
                <span class="line d_mobile_none"></span>
                <div class="chapter_wrapper">
                    <h4>Статьи автора</h4>
                </div>
                <span class="line d_mobile_none"></span>
                <div class="chapter_wrapper">
                    <h4>Достижения автора</h4>
                </div>
            </section>
            <section class="new_recipes_section">
                <div class="cards_wrapper">
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="articles_section">
                <div class="cards_wrapper">
                    <div class="news_item">
                        <div class="news_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                                </a>
                                <div class="date_wrapper">
                                    <h4>25.10.2024</h4>
                                </div>
                            </div>
                            <div class="info">
                                <div class="rating">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <h4 class="black_75">(34)</h4>
                                </div>
                                <div class="views">
                                    <img src="../static/svg/Random_icons/Eye_icon.svg">
                                    <h4 class="green">34</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                        </div>
                        <div class="news_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4 class="black_75">Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="news_item">
                        <div class="news_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                                </a>
                                <div class="date_wrapper">
                                    <h4>25.10.2024</h4>
                                </div>
                            </div>
                            <div class="info">
                                <div class="rating">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <h4 class="black_75">(34)</h4>
                                </div>
                                <div class="views">
                                    <img src="../static/svg/Random_icons/Eye_icon.svg">
                                    <h4 class="green">34</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                        </div>
                        <div class="news_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4 class="black_75">Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="news_item">
                        <div class="news_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                                </a>
                                <div class="date_wrapper">
                                    <h4>25.10.2024</h4>
                                </div>
                            </div>
                            <div class="info">
                                <div class="rating">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <h4 class="black_75">(34)</h4>
                                </div>
                                <div class="views">
                                    <img src="../static/svg/Random_icons/Eye_icon.svg">
                                    <h4 class="green">34</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                        </div>
                        <div class="news_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4 class="black_75">Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="news_item">
                        <div class="news_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                                </a>
                                <div class="date_wrapper">
                                    <h4>25.10.2024</h4>
                                </div>
                            </div>
                            <div class="info">
                                <div class="rating">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <img src="../static/svg/Stars/Star_on.svg">
                                    <h4 class="black_75">(34)</h4>
                                </div>
                                <div class="views">
                                    <img src="../static/svg/Random_icons/Eye_icon.svg">
                                    <h4 class="green">34</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                        </div>
                        <div class="news_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4 class="black_75">Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nothing_section">
                <img src="../static/svg/Cookie/Sad_half_black.svg">
                <h3 class="black_50 medium_font">Тут пока ничего нет</h3>
            </section>
            <section class="achievements_section">
                <div class="my_achiv">
                    <h3 class="medium_font">Одноразовые</h3>
                    <div class="achiv_list">
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                    </div>
                </div>
                <div class="all_achiv">
                    <h3 class="medium_font">Многоразовые</h3>
                    <div class="achiv_list">
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                            <img src="../static/svg/Achievements/Comments_Silver.svg">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                        <div class="achiv_item">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <img class="d_mobile_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_desktop.svg">
        <img class="d_desktop_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_mobile.svg">
        <div class="footer_wrapper">
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Заблудились?</h3>
                <div class="footer_info">
                    <a href=""><h4>Главная</h4></a>
                    <a href=""><h4>Популярное</h4></a>
                    <a href=""><h4>Рецепты по категориям</h4></a>
                    <a href=""><h4>Статьи</h4></a>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <div class="footer_content">
                <h3>Хочешь знать обо всех новинках?</h3>
                <div class="footer_info">
                    <h4>Подпишись на рассылку в <a href="" class="link_color">Телеграме</a></h4>
                </div>
                <h3>Понравился рецепт?</h3>
                <div class="footer_info">
                    <h4>Сохрани в <a href="" class="link_color">профиль</a>, чтобы не потерять</h4>
                    <h4>Или <a href="" class="link_color">поделись</a> своим шедевром!</h4>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Остались вопросы?</h3>
                <div class="footer_info">
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/TG_blank.svg">
                            <h4>Наш телеграм</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/VK_blank.svg">
                            <h4>ВКонтакте</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/Email_blank.svg">
                            <h4>tasteroom@yandex.ru</h4>
                        </a>
                    </div>
                </div>
            </div>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <img class="d_desktop_none" src="../static/svg/Shapes/Chocolates_footer_mobile.svg">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/textarea.js"></script>
    <script src="../static/js/header_scroll.js"></script>
    <script src="../static/js/profile.js"></script>
    <script src="../static/js/set_image_height.js"></script>
</body>
</html>