<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/general/vars.css">
    <link rel="stylesheet" href="../static/css/general/fonts.css">
    <link rel="stylesheet" href="../static/css/general/base.css">
    <link rel="stylesheet" href="../static/css/recipe/recipe_card.css">
    <link rel="stylesheet" href="../static/css/recipe/repice_card_long.css">
    <link rel="stylesheet" href="../static/css/recipe/recipe_category.css">
    <link rel="stylesheet" href="../static/css/recipe/category_recipes.css">
    <link rel="stylesheet" href="../static/css/general/pagination.css">
</head>
<body>
    <header>
        <div class="header_wrapper">
            <a href="main.html">
                <img id="main_cookie" src="../static/svg/Cookie/TR.svg">
            </a>
            
            <div class="header_sections d_mobile_none">
                <a href="popular_recipes.html"><h4 class="medium_font">Популярное</h4></a>
                <a href="category_recipes.html"><h4 class="medium_font">Рецепты по категориям</h4></a>
                <a href="articles.html"><h4 class="medium_font">Статьи</h4></a>
            </div>
            <div class="header_buttons">
                <img id="add_recipe" src="../static/svg/Plus_Minus/Plus_fill.svg">
                <img id="tg_notif" src="../static/svg/Socials_WB/Notif.svg">
                <img class="d_mobile_none" id="profile" src="../static/svg/Cookie/Cookie_with_hat.svg">
                <div class="burger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="top_waves_wrapper">
            <img class="d_mobile_none" id="top_waves" src="../static/svg/Shapes/Waves_header_desktop.svg">
            <img class="d_desktop_none" id="top_waves" src="../static/svg/Shapes/Waves_header_mobile.svg">
        </div>
    </header>
    <main>
        <section class="bread_crumbs">
            <a href=""><p>Главная</p></a>
            <img src="../static/svg/Arrows/Green_crumbs.svg">
            <a href=""><p>Рецепты по категориям</p></a>
            <img src="../static/svg/Arrows/Green_crumbs.svg">
            <a href=""><p>Лапша</p></a>
        </section>
        <div class="main_content">
            <section class="category_section">
                <div class="category_wrapper">
                    <div class="category_show_hide_wrapper d_desktop_none">
                        <div class="hide_wrapper">
                            <img src="../static/svg/Random_icons/Show_Hide_icon_cookie.svg">
                            <h2 class="lilita_font cookie">Скрыть категории</h2>
                        </div>
                        <div class="show_wrapper d_none">
                            <img src="../static/svg/Random_icons/Show_Hide_icon_cookie.svg" style="transform:  rotate(180deg);">
                            <h2 class="lilita_font cookie">Показать категории</h2>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Кухня</h3>
                            <h2 class="lilita_font d_desktop_none">Кухня</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Тип блюда</h3>
                            <h2 class="lilita_font d_desktop_none">Тип блюда</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                            <ul class="d_none">
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Кухня</h3>
                            <h2 class="lilita_font d_desktop_none">Кухня</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Тип блюда</h3>
                            <h2 class="lilita_font d_desktop_none">Тип блюда</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                            <ul class="d_none">
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Кухня</h3>
                            <h2 class="lilita_font d_desktop_none">Кухня</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font d_mobile_none">Тип блюда</h3>
                            <h2 class="lilita_font d_desktop_none">Тип блюда</h2>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                            <ul class="d_none">
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img class="minus d_none" src="../static/svg/Plus_Minus/Minus_blank.svg">
                                <img class="plus" src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="new_recipes_section">
                <div class="cards_wrapper">
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="">
                                    <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                </a>
                                <div class="heart_wrapper">
                                    <img src="../static/svg/Random_icons/Heart_blank.svg">
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="../static/svg/Random_icons/Callories_icon.svg">
                                    <h4>128 ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="../static/svg/Random_icons/Clock_icon.svg">
                                    <h4>1 ч 45 мин</h4>
                                </div>
                            </div>
                            <a href="">
                                <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                            </a>
                            <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="" class="icon_title">
                                <img src="../static/svg/Cookie/Smile_half_black.svg">
                                <h4>Дашка Мелешенко</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cards_wrapper_long d_mobile_none">
                    <div class="recipe_and_art">
                        <div class="recipe_item_long">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="recipe_item_content">
                                <div class="recipe_item_body">
                                    <a href="">
                                        <h2 class="title medium_font">Какая-то странная лапша c сыром и травой</h2>
                                    </a>
                                    <h3 class="description">Супер крутое описание для лапши, которое можно было придумать</h3>
                                    <div class="info">
                                        <div class="calories_and_time">
                                            <div class="calories">
                                                <img src="../static/svg/Random_icons/Callories_icon.svg">
                                                <h3>128 ккал</h3>
                                            </div>
                                            <div class="time">
                                                <img src="../static/svg/Random_icons/Clock_icon.svg">
                                                <h3>1 ч 45 мин</h3>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <h3>(34)</h3>
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_off.svg">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="recipe_item_footer">
                                    <a href="" class="icon_title">
                                        <img src="../static/svg/Cookie/Smile_half_black.svg">
                                        <h3>Дашка Мелешенко</h3>
                                    </a>
                                    <a href="">
                                        <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recipe_and_art">
                        <div class="recipe_item_long">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="recipe_item_content">
                                <div class="recipe_item_body">
                                    <a href="">
                                        <h2 class="title medium_font">Какая-то странная лапша c сыром и травой</h2>
                                    </a>
                                    <h3 class="description">Супер крутое описание для лапши, которое можно было придумать</h3>
                                    <div class="info">
                                        <div class="calories_and_time">
                                            <div class="calories">
                                                <img src="../static/svg/Random_icons/Callories_icon.svg">
                                                <h3>128 ккал</h3>
                                            </div>
                                            <div class="time">
                                                <img src="../static/svg/Random_icons/Clock_icon.svg">
                                                <h3>1 ч 45 мин</h3>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <h3>(34)</h3>
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_off.svg">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="recipe_item_footer">
                                    <a href="" class="icon_title">
                                        <img src="../static/svg/Cookie/Smile_half_black.svg">
                                        <h3>Дашка Мелешенко</h3>
                                    </a>
                                    <a href="">
                                        <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recipe_and_art">
                        <div class="recipe_item_long">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="recipe_item_content">
                                <div class="recipe_item_body">
                                    <a href="">
                                        <h2 class="title medium_font">Какая-то странная лапша c сыром и травой</h2>
                                    </a>
                                    <h3 class="description">Супер крутое описание для лапши, которое можно было придумать</h3>
                                    <div class="info">
                                        <div class="calories_and_time">
                                            <div class="calories">
                                                <img src="../static/svg/Random_icons/Callories_icon.svg">
                                                <h3>128 ккал</h3>
                                            </div>
                                            <div class="time">
                                                <img src="../static/svg/Random_icons/Clock_icon.svg">
                                                <h3>1 ч 45 мин</h3>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <h3>(34)</h3>
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_on.svg">
                                            <img src="../static/svg/Stars/Star_off.svg">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="recipe_item_footer">
                                    <a href="" class="icon_title">
                                        <img src="../static/svg/Cookie/Smile_half_black.svg">
                                        <h3>Дашка Мелешенко</h3>
                                    </a>
                                    <a href="">
                                        <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="pagination">
            <a class="pagination_button disabled" data-wpel-link="internal">
                <img style="transform: rotate(180deg);" src="../static/svg/Arrows/White_right.svg">
            </a>

            <div class="page_numbers_wrapper">
                <a class="page_link" href="">
                    <h3>1</h3>
                </a>
                <a class="page_link active" href="">
                    <h3>2</h3>
                </a>
                <a class="page_link" href="">
                    <h3>3</h3>
                </a>
                <a class="page_link" href="">
                    <h3>4</h3>
                </a>
                <a class="page_link" href="">
                    <h3>5</h3>
                </a>
            </div>

            <a href="" class="pagination_button next" data-wpel-link="internal">
                <img src="../static/svg/Arrows/White_right.svg">
            </a>
        </section>
    </main>
    <footer>
        <img class="d_mobile_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_desktop.svg">
        <img class="d_desktop_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_mobile.svg">
        <div class="footer_wrapper">
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Заблудились?</h3>
                <div class="footer_info">
                    <a href=""><h4>Главная</h4></a>
                    <a href=""><h4>Популярное</h4></a>
                    <a href=""><h4>Рецепты по категориям</h4></a>
                    <a href=""><h4>Статьи</h4></a>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <div class="footer_content">
                <h3>Хочешь знать обо всех новинках?</h3>
                <div class="footer_info">
                    <h4>Подпишись на рассылку в <a href="" class="link_color">Телеграме</a></h4>
                </div>
                <h3>Понравился рецепт?</h3>
                <div class="footer_info">
                    <h4>Сохрани в <a href="" class="link_color">профиль</a>, чтобы не потерять</h4>
                    <h4>Или <a href="" class="link_color">поделись</a> своим шедевром!</h4>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Остались вопросы?</h3>
                <div class="footer_info">
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/TG_blank.svg">
                            <h4>Наш телеграм</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/VK_blank.svg">
                            <h4>ВКонтакте</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/Email_blank.svg">
                            <h4>tasteroom@yandex.ru</h4>
                        </a>
                    </div>
                </div>
            </div>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <img class="d_desktop_none" src="../static/svg/Shapes/Chocolates_footer_mobile.svg">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/swiper.js"></script>
    <script src="../static/js/textarea.js"></script>
    <script src="../static/js/header_scroll.js"></script>
    <script src="../static/js/dishes_animation.js"></script>
    <script src="../static/js/category.js"></script>
</body>
</html>