<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/general/swiper.css">
    <link rel="stylesheet" href="../static/css/general/vars.css">
    <link rel="stylesheet" href="../static/css/general/fonts.css">
    <link rel="stylesheet" href="../static/css/general/base.css">
    <link rel="stylesheet" href="../static/css/recipe/recipe_card.css">
    <link rel="stylesheet" href="../static/css/news/news_card.css">
    <link rel="stylesheet" href="../static/css/recipe/recipe_category.css">
    <link rel="stylesheet" href="../static/css/recipe/detail_recipe.css">
    <link rel="stylesheet" href="../static/css/windows.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
<body id="body">
    <header>
        <div class="header_wrapper">
            <a href="main.html">
                <img id="main_cookie" src="../static/svg/Cookie/TR.svg">
            </a>
            
            <div class="header_sections d_mobile_none">
                <a href="popular_recipes.html"><h4 class="medium_font">Популярное</h4></a>
                <a href="category_recipes.html"><h4 class="medium_font">Рецепты по категориям</h4></a>
                <a href="articles.html"><h4 class="medium_font">Статьи</h4></a>
            </div>
            <div class="header_buttons">
                <img id="add_recipe" src="../static/svg/Plus_Minus/Plus_fill.svg">
                <img id="tg_notif" src="../static/svg/Socials_WB/Notif.svg">
                <img class="d_mobile_none" id="profile" src="../static/svg/Cookie/Cookie_with_hat.svg">
                <div class="burger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="top_waves_wrapper">
            <img class="d_mobile_none" id="top_waves" src="../static/svg/Shapes/Waves_header_desktop.svg">
            <img class="d_desktop_none" id="top_waves" src="../static/svg/Shapes/Waves_header_mobile.svg">
        </div>
    </header>
    <main>
        <section class="bread_crumbs">
            <a href=""><p>Главная</p></a>
            <img src="../static/svg/Arrows/Green_crumbs.svg">
            <a href=""><p>Рецепты</p></a>
            <img src="../static/svg/Arrows/Green_crumbs.svg">
            <a href=""><p>Фрукты в стекле</p></a>
        </section>
        <div class="main_content">
            <section class="category_section d_mobile_none">
                <div class="category_wrapper">
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Кухня</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Тип блюда</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Minus_blank.svg">
                            </div>
                            <ul>
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Кухня</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Тип блюда</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Minus_blank.svg">
                            </div>
                            <ul>
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Кухня</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Европейская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Азиатская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Американская</p>
                                </a>
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Африканская</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category_item">
                        <div class="category_title_div">
                            <span class="line"></span>
                            <h3 class="lilita_font">Тип блюда</h3>
                            <span class="line"></span>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Завтраки</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Основные блюда</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Minus_blank.svg">
                            </div>
                            <ul>
                                <li><a href="">Паста</a></li>
                                <li><a href="">Пицца</a></li>
                                <li><a href="">Супы</a></li>
                                <li><a href="">Рагу</a></li>
                            </ul>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Десерты</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                        <div class="category_content">
                            <div class="main_name">
                                <a href="">
                                    <p>Закуски</p>
                                </a>
                                <img src="../static/svg/Plus_Minus/Plus_blank.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="recipe_section">
                <div class="recipe_header">
                    <div class="image_wrapper">
                        <img src="../static/img/recipe_and_article/ready_fruits.jpg">
                    </div>
                    <h1>Фрукты в стекле</h1>
                    <h4>Часто родители сталкиваются с тем, что детки отказываются есть фрукты. Для своих детей я часто готовлю такие фрукты в стекле. Они очень ярко смотрятся на столе за счёт своего глянцевого блеска. Сироп даёт фруктам дополнительную сладость, что ещё больше привлекает детей. Такие фрукты у вас точно не залежатся на столе. Они съедаются быстрее, чем вы успеваете их приготовить!</h4>
                </div>
                <div class="recipe_videos">
                    <a href="" class="main_video">
                        <h3>Посмотреть видео-рецепт</h3>
                        <img src="../static/svg/Shapes/Play_video_black.svg">
                    </a>
                    <a href="" class="alt_video">
                        <h4>Запасная ссылка на видео-рецепт</h4>
                        <img src="../static/svg/Shapes/Play_video_half_black.svg">
                    </a>
                </div>
                <div class="recipe_stats">
                    <div class="column">
                        <div class="recipe_stats_item">
                            <img src="../static/svg/Random_icons/Clock_icon.svg">
                            <div class="info">
                                <h4>Общ.\актив. время готовки:</h4>
                                <h4 class="bold_font green">30 минут \ 30 минут</h4>
                            </div>
                        </div>
                        <div class="recipe_stats_item">
                            <img src="../static/svg/Random_icons/Callories_icon.svg">
                            <div class="info">
                                <h4>Калорийность (100г):</h4>
                                <h4 class="bold_font orange">155 ккал</h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="recipe_stats_item">
                            <img src="../static/svg/Random_icons/Human_icon.svg">
                            <div class="info">
                                <h4>Количество порций:</h4>
                                <h4 class="bold_font green">2 порции</h4>
                            </div>
                        </div>
                        <div class="recipe_stats_item difficulty">
                            <img src="../static/svg/Random_icons/Gear_icon.svg">
                            <div class="info">
                                <h4>Сложность:</h4>
                                <h4 class="bold_font orange">2 / 5 <span class="regular_font">(Нормально)</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#news_reviews" class="recipe_stats_item">
                            <img src="../static/svg/Stars/Star_on.svg">
                            <div class="info">
                                <h4>Рейтинг:</h4>
                                <h4 class="bold_font cookie">4.4 / 5 <span class="regular_font">(32 отзыва)</span></h4>
                            </div>
                        </a>
                        <div class="recipe_stats_item spicy">
                            <img src="../static/svg/Random_icons/Pepper_icon.svg">
                            <div class="info">
                                <h4>Острота:</h4>
                                <h4 class="bold_font red">1 / 5 <span class="regular_font">(без остроты)</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe_author">
                    <a href="" class="image_wrapper circle">
                        <img class="circle" src="../static/img/Profile/author_default.png">
                    </a>
                    <div class="info">
                        <a href=""><h4>Автор рецепта: Дашка Мелешенко</h4></a>
                        <h5>Привет! Я Дашка Мелешенко - крутая создательница рецептов, автор кулинарных блогов в соцсетях, каналов на Рутубе и в Телеграм, а также автор книг, тренингов, мастер-классов и создатель нереального настроения. Мои рецепты самые лучшие, им можно доверять! У вас точно получится все приготовить красиво и вкусно. Приятного аппетита!</h5>
                    </div>
                </div>
                <div class="recipe_ingredients">
                    <div class="title_and_portions">
                        <h3>Игредиенты</h3>
                        <div class="portions">
                            <h4>На кол-во порций:</h4>
                            <div class="counter">
                                <button type="button" class="minus">
                                    <img src="../static/svg/Plus_Minus/Minus_white.svg">
                                </button>
                                <div class="number default">
                                    <h5>2</h5>
                                </div>
                                <button type="button" class="plus">
                                    <img src="../static/svg/Plus_Minus/Plus_white.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ingredients">
                        <div class="ingredient_item">
                            <div class="image_wrapper">
                                <img src="../static/svg/Ingredients/Egg.svg">
                            </div>
                            <h4>Яйцо - 2 шт.</h4>
                        </div>
                        <div class="ingredient_item">
                            <div class="image_wrapper">
                                <img src="../static/svg/Ingredients/Egg.svg">
                            </div>
                            <h4>Яйцо - 2 шт.</h4>
                        </div>
                        <div class="ingredient_item">
                            <div class="image_wrapper">
                                <img src="../static/svg/Ingredients/Egg.svg">
                            </div>
                            <h4>Яйцо - 2 шт.</h4>
                        </div>
                    </div>
                </div>
                <div class="recipe_warning">
                    <img src="../static/svg/Random_icons/Warning_mark.svg">
                    <div class="info">
                        <h4>Обратите внимание: в рецепте ниже количество ингредиентов расчитано на 2 порции.</h4>
                        <h4>Учтите это при изменении количества порций</h4>
                    </div>
                </div>
                <div class="recipe_content">
                    <div class="step">
                        <h3>Шаг 1</h3>
                        <div class="info">
                            <h4>Подготовить все ингредиенты для фруктов в стекле. Рецепт очень простой, и продукты нужны самые обычные.
    
                                Фрукты выбирайте сезонные, в них больше витаминов и у них более яркий вкус. Лучше всего брать несколько видов фруктов и ягод. Они ярко смотрятся на столе, чем ещё больше привлекают маленьких малоежек.
                            </h4>
                            <div class="image_wrapper">
                                <img src="../static/img/recipe_and_article/fruits.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <h3>Шаг 2</h3>
                        <div class="info">
                            <h4>Подавать фрукты в стекле к столу тогда, когда сироп полностью остынет. В среднем, на это уходит не более 10 минут.
    
                                Приятного аппетита!
                            </h4>
                            <div class="image_wrapper">
                                <img src="../static/img/recipe_and_article/ready_fruits.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe_categories">
                    <h4>Категории: <a href="" class="green">Вкусные и сытные десерты, Простые рецепты на каждый день, Рецепты выпечки и сладостей для детей, Рецепты повседневные, Рецепты сладостей, Что приготовить быстро и вкусно, Что приготовить быстро и вкусно из простых продуктов, Что приготовить быстро и вкусно на сладкое</a></h4>
                </div>
                <div class="recipe_reviews">
                    <span class="anchor_hidden" id="news_reviews"></span>
                    <div class="rating_wrapper">
                        <h4 class="medium_font">Оцени рецепт “Фрукты в стекле”</h4>
                        <div class="stars">
                            <img src="../static/svg/Stars/Star_half_on.svg">
                            <img src="../static/svg/Stars/Star_half_on.svg">
                            <img src="../static/svg/Stars/Star_half_on.svg">
                            <img src="../static/svg/Stars/Star_half_on.svg">
                            <img src="../static/svg/Stars/Star_off.svg">
                        </div>
                        <div class="info">
                            <h4>Средняя оценка: <span class="medium_font cookie">4.4</span></h4>
                            <h4>Голосов: <span class="medium_font cookie">34</span></h4>
                        </div>
                    </div>
                    <div class="share_wrapper">
                        <h4 class="medium_font">Поделись рецептом с друзьями!</h4>
                        <div class="socials">
                            <img src="../static/svg/Socials_Colorful/TG.svg">
                            <img src="../static/svg/Socials_Colorful/VK.svg">
                            <img src="../static/svg/Socials_Colorful/WS.svg">
                            <img src="../static/svg/Socials_Colorful/Copy.svg">
                        </div>
                    </div>
                </div>
                <div class="recipe_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Рекомендуем попробовать</h2>
                    <span class="line"></span>
                </div>
                <div class="recipe_recs swiper">
                    <div class="recipe_recs_wrapper swiper-wrapper">
                        <div class="recipe_item swiper-slide">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="calories">
                                        <img src="../static/svg/Random_icons/Callories_icon.svg">
                                        <h4>128 ккал</h4>
                                    </div>
                                    <div class="time">
                                        <img src="../static/svg/Random_icons/Clock_icon.svg">
                                        <h4>1 ч 45 мин</h4>
                                    </div>
                                </div>
                                <a href="">
                                    <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                                </a>
                                <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                            </div>
                            <div class="recipe_item_footer">
                                <a href="" class="icon_title">
                                    <img src="../static/svg/Cookie/Smile_half_black.svg">
                                    <h4>Дашка Мелешенко</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                </a>
                            </div>
                        </div>
                        <div class="recipe_item swiper-slide">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="calories">
                                        <img src="../static/svg/Random_icons/Callories_icon.svg">
                                        <h4>128 ккал</h4>
                                    </div>
                                    <div class="time">
                                        <img src="../static/svg/Random_icons/Clock_icon.svg">
                                        <h4>1 ч 45 мин</h4>
                                    </div>
                                </div>
                                <a href="">
                                    <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                                </a>
                                <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                            </div>
                            <div class="recipe_item_footer">
                                <a href="" class="icon_title">
                                    <img src="../static/svg/Cookie/Smile_half_black.svg">
                                    <h4>Дашка Мелешенко</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                </a>
                            </div>
                        </div>
                        <div class="recipe_item swiper-slide">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="calories">
                                        <img src="../static/svg/Random_icons/Callories_icon.svg">
                                        <h4>128 ккал</h4>
                                    </div>
                                    <div class="time">
                                        <img src="../static/svg/Random_icons/Clock_icon.svg">
                                        <h4>1 ч 45 мин</h4>
                                    </div>
                                </div>
                                <a href="">
                                    <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                                </a>
                                <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                            </div>
                            <div class="recipe_item_footer">
                                <a href="" class="icon_title">
                                    <img src="../static/svg/Cookie/Smile_half_black.svg">
                                    <h4>Дашка Мелешенко</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                </a>
                            </div>
                        </div>
                        <div class="recipe_item swiper-slide">
                            <div class="recipe_item_header">
                                <div class="image_wrapper">
                                    <a href="">
                                        <img class="back_image" src="../static/img/recipe_and_article/noodles.jpg">
                                    </a>
                                    <div class="heart_wrapper">
                                        <img src="../static/svg/Random_icons/Heart_blank.svg">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="calories">
                                        <img src="../static/svg/Random_icons/Callories_icon.svg">
                                        <h4>128 ккал</h4>
                                    </div>
                                    <div class="time">
                                        <img src="../static/svg/Random_icons/Clock_icon.svg">
                                        <h4>1 ч 45 мин</h4>
                                    </div>
                                </div>
                                <a href="">
                                    <h3 class="title medium_font">Какая-то странная лапша c сыром и травой</h3>
                                </a>
                                <h4 class="description">Супер крутое описание для лапши, которое можно было придумать</h4>
                            </div>
                            <div class="recipe_item_footer">
                                <a href="" class="icon_title">
                                    <img src="../static/svg/Cookie/Smile_half_black.svg">
                                    <h4>Дашка Мелешенко</h4>
                                </a>
                                <a href="">
                                    <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <img class="swiper_nav prev" style="transform: rotate(180deg);" src="../static/svg/Arrows/Slider_right.svg">
                    <img class="swiper_nav next" src="../static/svg/Arrows/Slider_right.svg">
                </div>
                <div class="recipe_chapter">
                    <span class="line"></span>
                    <h2 class="lilita_font">Оставь комментарий!</h2>
                    <span class="line"></span>
                </div>
                <div class="recipe_add_comment">
                    <div class="add_image">
                        <img src="../static/svg/Cookie/Add_image_half_black.svg">
                        <div class="info">
                            <p>Добавь фото готового блюда к своему комментарию</p>
                            <p class="d_mobile_none">Перетащи или нажми, чтобы выбрать</p>
                            <p class="d_desktop_none">Нажми, чтобы выбрать</p>
                        </div>
                    </div>
                    <div class="input_wrapper">
                        <textarea placeholder="Поделитесь своими мыслями"></textarea>
                        <button type="submit" class="input_button">
                            <img src="../static/svg/Arrows/Send_comment.svg">
                        </button>
                    </div>
                </div>
                <div class="recipe_comments">
                    <div class="comment_wrapper">
                        <div class="comment_item">
                            <div class="author_info">
                                <a href="" class="image_wrapper">
                                    <img src="../static/img/Profile/author_default.png">
                                </a>
                                <div class="info">
                                    <h4>Дашка Мелешенко</h4>
                                    <h5 class="black_75">12 столетий назад</h5>
                                </div>
                            </div>
                            <div class="content">
                                <h5>Я в тотальном слэй ауте от этого рецепта. Всем советую!Сироп можно ароматизировать цедрой апельсина или ванилью.</h5>
                            </div>
                            <div class="rating">
                                <div class="likes">
                                    <img src="../static/svg/Likes_Dislikes/Like_fill.svg">
                                    <h5>9</h5>
                                </div>
                                <div class="dislikes">
                                    <img src="../static/svg/Likes_Dislikes/Dislike_blank.svg">
                                    <h5>2</h5>
                                </div>
                            </div>
                            <div class="show_answers">
                                <h5 class="black_75">Показать ответы (2)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="comment_wrapper">
                        <div class="comment_item">
                            <div class="author_info">
                                <a href="" class="image_wrapper">
                                    <img src="../static/img/Profile/author_default.png">
                                </a>
                                <div class="info">
                                    <h4>Дашка Мелешенко</h4>
                                    <h5 class="black_75">12 столетий назад</h5>
                                </div>
                            </div>
                            <div class="content">
                                <div class="image_wrapper">
                                    <img src="../static/img/recipe_and_article/ready_fruits.jpg">
                                </div>
                                <h5>Я в тотальном слэй ауте от этого рецепта. Всем советую!Сироп можно ароматизировать цедрой апельсина или ванилью.</h5>
                            </div>
                            <div class="rating">
                                <div class="likes">
                                    <img src="../static/svg/Likes_Dislikes/Like_fill.svg">
                                    <h5>9</h5>
                                </div>
                                <div class="dislikes">
                                    <img src="../static/svg/Likes_Dislikes/Dislike_blank.svg">
                                    <h5>2</h5>
                                </div>
                            </div>
                        </div>
                        <div class="answers">
                            <span class="line"></span>
                            <div class="answers_list">
                                <div class="comment_item">
                                    <div class="author_info">
                                        <a href="" class="image_wrapper">
                                            <img src="../static/img/Profile/author_default.png">
                                        </a>
                                        <div class="info">
                                            <h4>Дашка Мелешенко</h4>
                                            <h5 class="black_75">12 столетий назад</h5>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="image_wrapper">
                                            <img src="../static/img/recipe_and_article/ready_fruits.jpg">
                                        </div>
                                        <h5>Я в тотальном слэй ауте от этого рецепта. Всем советую!Сироп можно ароматизировать цедрой апельсина или ванилью.</h5>
                                    </div>
                                    <div class="rating">
                                        <div class="likes">
                                            <img src="../static/svg/Likes_Dislikes/Like_fill.svg">
                                            <h5>9</h5>
                                        </div>
                                        <div class="dislikes">
                                            <img src="../static/svg/Likes_Dislikes/Dislike_blank.svg">
                                            <h5>2</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_item">
                                    <div class="author_info">
                                        <a href="" class="image_wrapper">
                                            <img src="../static/img/Profile/author_default.png">
                                        </a>
                                        <div class="info">
                                            <h4>Дашка Мелешенко</h4>
                                            <h5 class="black_75">12 столетий назад</h5>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="image_wrapper">
                                            <img src="../static/img/recipe_and_article/ready_fruits.jpg">
                                        </div>
                                        <h5>Я в тотальном слэй ауте от этого рецепта. Всем советую!Сироп можно ароматизировать цедрой апельсина или ванилью.</h5>
                                    </div>
                                    <div class="rating">
                                        <div class="likes">
                                            <img src="../static/svg/Likes_Dislikes/Like_fill.svg">
                                            <h5>9</h5>
                                        </div>
                                        <div class="dislikes">
                                            <img src="../static/svg/Likes_Dislikes/Dislike_blank.svg">
                                            <h5>2</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hide_answers">
                            <h5 class="black_75">Скрыть ответы</h5>
                        </div>
                        <div class="add_answer_comment">
                            <div class="input_wrapper">
                                <textarea placeholder="Ответьте на комментарий"></textarea>
                                <button type="submit" class="input_button">
                                    <img src="../static/svg/Arrows/Send_comment.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="show_more">
                        <h5 class="black_75">Показать ещё</h5>
                    </div>
                </div>
            </section>
            <section class="art_section d_mobile_none">
                <div class="news_item">
                    <div class="news_item_header">
                        <div class="image_wrapper">
                            <a href="">
                                <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                            </a>
                            <div class="date_wrapper">
                                <h4>25.10.2024</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="rating">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <h4 class="black_75">(34)</h4>
                            </div>
                            <div class="views">
                                <img src="../static/svg/Random_icons/Eye_icon.svg">
                                <h4 class="green">34</h4>
                            </div>
                        </div>
                        <a href="">
                            <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                        </a>
                        <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                    </div>
                    <div class="news_item_footer">
                        <a href="" class="icon_title">
                            <img src="../static/svg/Cookie/Smile_half_black.svg">
                            <h4 class="black_75">Дашка Мелешенко</h4>
                        </a>
                        <a href="">
                            <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                        </a>
                    </div>
                </div>
                <div class="news_item">
                    <div class="news_item_header">
                        <div class="image_wrapper">
                            <a href="">
                                <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                            </a>
                            <div class="date_wrapper">
                                <h4>25.10.2024</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="rating">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <h4 class="black_75">(34)</h4>
                            </div>
                            <div class="views">
                                <img src="../static/svg/Random_icons/Eye_icon.svg">
                                <h4 class="green">34</h4>
                            </div>
                        </div>
                        <a href="">
                            <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                        </a>
                        <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                    </div>
                    <div class="news_item_footer">
                        <a href="" class="icon_title">
                            <img src="../static/svg/Cookie/Smile_half_black.svg">
                            <h4 class="black_75">Дашка Мелешенко</h4>
                        </a>
                        <a href="">
                            <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                        </a>
                    </div>
                </div>
                <div class="news_item">
                    <div class="news_item_header">
                        <div class="image_wrapper">
                            <a href="">
                                <img class="back_image" src="../static/img/recipe_and_article/eggs.jpeg">
                            </a>
                            <div class="date_wrapper">
                                <h4>25.10.2024</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="rating">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <img src="../static/svg/Stars/Star_on.svg">
                                <h4 class="black_75">(34)</h4>
                            </div>
                            <div class="views">
                                <img src="../static/svg/Random_icons/Eye_icon.svg">
                                <h4 class="green">34</h4>
                            </div>
                        </div>
                        <a href="">
                            <h3 class="title medium_font">Чем заменить яйцо в выпечке</h3>
                        </a>
                        <h4 class="description">Супер крутое описание для статьи, которое можно было придумать</h4>
                    </div>
                    <div class="news_item_footer">
                        <a href="" class="icon_title">
                            <img src="../static/svg/Cookie/Smile_half_black.svg">
                            <h4 class="black_75">Дашка Мелешенко</h4>
                        </a>
                        <a href="">
                            <img class="share_button" src="../static/svg/Random_icons/Share_icon.svg">
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <a href="#body" id="go_up_wrapper">
            <img src="../static/svg/Random_icons/Show_Hide_icon_gray.svg">
        </a>
        <div class="pop_up_window spicy_window d_none">
            <div class="inner_wrapper">
                <img src="../static/svg/Random_icons/Pepper_icon.svg">
                <p>Острота</p>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">1 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Без остроты</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">2 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Слабая острота</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">3 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Умеренно остро</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">4 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Достаточно остро</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="red medium_font">5 / 5</h5>
                <h5 class="red medium_font">-</h5>
                <h5 class="red">Очень остро!</h5>
            </div>
        </div>
        <div class="pop_up_window difficulty_window d_none">
            <div class="inner_wrapper">
                <img src="../static/svg/Random_icons/Gear_icon.svg">
                <p>Сложность</p>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">1 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Новичок</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">2 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Нормально</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">3 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Требует опыта</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">4 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Для продвинутых</h5>
            </div>
            <div class="inner_wrapper">
                <h5 class="orange medium_font">5 / 5</h5>
                <h5 class="orange medium_font">-</h5>
                <h5 class="orange">Профессионал</h5>
            </div>
        </div>
    </main>
    <footer>
        <img class="d_mobile_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_desktop.svg">
        <img class="d_desktop_none" id="footer_waves" src="../static/svg/Shapes/Waves_footer_mobile.svg">
        <div class="footer_wrapper">
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Заблудились?</h3>
                <div class="footer_info">
                    <a href=""><h4>Главная</h4></a>
                    <a href=""><h4>Популярное</h4></a>
                    <a href=""><h4>Рецепты по категориям</h4></a>
                    <a href=""><h4>Статьи</h4></a>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <div class="footer_content">
                <h3>Хочешь знать обо всех новинках?</h3>
                <div class="footer_info">
                    <h4>Подпишись на рассылку в <a href="" class="link_color">Телеграме</a></h4>
                </div>
                <h3>Понравился рецепт?</h3>
                <div class="footer_info">
                    <h4>Сохрани в <a href="" class="link_color">профиль</a>, чтобы не потерять</h4>
                    <h4>Или <a href="" class="link_color">поделись</a> своим шедевром!</h4>
                </div>
            </div>
            <span class="line"></span>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg">
            <div class="footer_content">
                <h3>Остались вопросы?</h3>
                <div class="footer_info">
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/TG_blank.svg">
                            <h4>Наш телеграм</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/VK_blank.svg">
                            <h4>ВКонтакте</h4>
                        </a>
                    </div>
                    <div class="social_div">
                        <a href="">
                            <img src="../static/svg/Socials_WB/Email_blank.svg">
                            <h4>tasteroom@yandex.ru</h4>
                        </a>
                    </div>
                </div>
            </div>
            <img class="d_mobile_none" src="../static/svg/Shapes/Chocolates_footer_desktop.svg" style="transform: rotate(180deg)">
            <img class="d_desktop_none" src="../static/svg/Shapes/Chocolates_footer_mobile.svg">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/swiper.js"></script>
    <script src="../static/js/textarea.js"></script>
    <script src="../static/js/header_scroll.js"></script>
    <script src="../static/js/windows.js"></script>
    <script src="../static/js/set_image_height.js"></script>
</body>
</html>