.main_content {
    display: grid;
    grid-template-columns: 4fr 15fr 5fr;
    padding: 0 var(--padding-window);
    gap: var(--small);
}

.recipe_section {
    display: flex;
    flex-direction: column;
    padding: var(--mid);
    border-radius: var(--mid);
    gap: var(--huge);
    background-color: var(--color-white);
    overflow: hidden;
    height: fit-content;
}
.recipe_section > .recipe_header {
    display: flex;
    flex-direction: column;
    gap: var(--small);

}
.recipe_section > .recipe_header > .image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1.5;
    position: relative;
}
.recipe_section > .recipe_header > .image_wrapper > .previews_wrapper {
    aspect-ratio: 1.5;
    width: 100%;
    border-radius: var(--small);
}
.recipe_section > .recipe_header > .image_wrapper .back_image {
    aspect-ratio: 1.5;
    width: 100%;
    border-radius: var(--small);
    object-fit: cover;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.recipe_section > .recipe_header > .image_wrapper > .heart_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--normal);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1;
    position: absolute;
    right: var(--small);
    top: var(--small);
    transition: transform 0.15s ease;
    cursor: pointer;
    z-index: 1;
}
.recipe_section > .recipe_header > .image_wrapper > .heart_wrapper:hover {
    transform: scale(1.1);
}
.recipe_section > .recipe_header > .image_wrapper > .heart_wrapper > img {
    height: 21px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.15s ease;
}

.recipe_section > .recipe_videos {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}
.recipe_section > .recipe_videos > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
    padding: var(--small) 0;
    border-radius: 50px;
}
.recipe_section > .recipe_videos > .main_video {
    background-color: var(--color-cookie);
    outline: 2px solid var(--color-black);
}
.recipe_section > .recipe_videos > .alt_video {
    outline: 2px solid var(--color-black-50);
}
.recipe_section > .recipe_videos > .alt_video > h4 {
    color: var(--color-black-50);
}

.recipe_section > .recipe_stats {
    display: flex;
    justify-content: space-between;
    gap: var(--small);
    align-items: center;
}
.recipe_section > .recipe_stats > .column {
    display: flex;
    flex-direction: column;
    gap: var(--mid);
    width: 100%;
}
.recipe_section > .recipe_stats > .column > .recipe_stats_item {
    display: flex;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_stats > .column > .recipe_stats_item > img {
    height: 32px;
}
.recipe_section > .recipe_stats > .column > .recipe_stats_item > .info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}
.recipe_section > .recipe_stats > .column > .recipe_stats_item > .info > h4:first-child {
    color: var(--color-black-50);
}

.recipe_section > .recipe_author {
    display: flex;
    gap: var(--small);
    align-items: center;
}
.recipe_section > .recipe_author > .image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    aspect-ratio: 1;
}
.recipe_section > .recipe_author > .image_wrapper > img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}
.recipe_section > .recipe_author > .info {
    display: flex;
    gap: var(--small);
}
.recipe_section > .recipe_author > .info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}
.recipe_section > .recipe_author > .info h4 {
    color: var(--color-black-50);
}

.recipe_section > .recipe_ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--mid);
}
.recipe_section > .recipe_ingredients > .title_and_portions {
    display: flex;
    gap: var(--mid);
    align-items: center;
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions {
    display: flex;
    gap: var(--small);
    align-items: center;
    height: 100%;
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter {
    display: flex;
    align-items: center;
    border-radius: var(--small);
    background-color: var(--color-cookie);
    border: 2px solid var(--color-cookie);
    height: 100%;
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter > .minus,
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter > .plus {
    display: flex;
    align-items: center;
    padding: 2px;
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter > .number {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--color-white);
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter > .number.default {
    background-color: var(--color-light-cream);
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter > * {
    height: 100%;
    justify-content: center;
}
.recipe_section > .recipe_ingredients > .title_and_portions > .portions > .counter img {
    width: 12px;
}

.recipe_section > .recipe_ingredients > .ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--mid);
}
.recipe_section > .recipe_ingredients > .ingredients > .ingredient_item {
    display: flex;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_ingredients > .ingredients > .ingredient_item > .image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--small);
    aspect-ratio: 1;
    background-color: var(--color-light-cream);
    width: var(--huge);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 50px;
    position: relative;
}
.recipe_section > .recipe_ingredients > .ingredients > .ingredient_item > .image_wrapper > img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.recipe_section > .recipe_warning {
    display: flex;
    gap: var(--mid);
    padding: var(--mid);
    background-color: var(--color-cream);
    outline: 2px solid var(--color-cookie);
    border-radius: var(--small);
}
.recipe_section > .recipe_warning > img {
    height: 44px;
}
.recipe_section > .recipe_warning > .info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.recipe_section > .recipe_content {
    display: flex;
    flex-direction: column;
    gap: var(--huge);
}
.recipe_section > .recipe_content > .step {
    display: flex;
    flex-direction: column;
    gap: var(--mid);
}
.recipe_section > .recipe_content > .step > .info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}
.recipe_section > .recipe_content > .step > .info > .image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.5;
    width: 100%;
}
.recipe_section > .recipe_content > .step > .info > .image_wrapper > img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--small);
    aspect-ratio: 1.5;
}
.recipe_section > .recipe_categories {
    object-fit: cover;
    width: 100%;
    border-radius: var(--small);
}

.recipe_section > .recipe_reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mid);
    position: relative;
}
.recipe_section > .recipe_reviews h4 {
    color: var(--color-black-50);
}
.recipe_section > .recipe_reviews > .rating_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_reviews > .rating_wrapper > .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_reviews > .rating_wrapper > .stars > * {
    height: var(--huge);
    width: var(--huge);
    cursor: pointer;
}
.recipe_section > .recipe_reviews > .rating_wrapper > .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_reviews > .share_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_reviews > .share_wrapper > .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
}
.recipe_section > .recipe_reviews > .share_wrapper > .socials img {
    height: var(--huge);
    width: var(--huge);
    cursor: pointer;
}

.recipe_section > .recipe_reviews > .share_wrapper > .socials > .copy_wrapper {
    position: relative;
}

.recipe_section > .recipe_chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small);
}

.recipe_section > .recipe_chapter > .line {
    width: 100%;
    height: 4px;
    background-color: var(--color-cookie);
    border-radius: 2px;
}
.recipe_section > .recipe_chapter > h2 {
    color: var(--color-cookie);
}
.recipe_section > .recipe_recs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe_section > .recipe_recs > .recipe_recs_wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.art_section {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: var(--small);
    position: sticky;
    bottom: 24px;
}


@media (max-width: 720px) {
    .main_content {
        display: flex;
        padding: 0;
    }
    .recipe_section {
        padding: var(--normal);
        border-radius: var(--mid);
        gap: var(--mid);
    }
    .recipe_section > .recipe_stats {
        flex-direction: column;
        gap: var(--mid);
    }
    .recipe_section > .recipe_ingredients > .title_and_portions {
        justify-content: space-between;
    }
    .recipe_section > .recipe_ingredients > .ingredients {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: var(--mid);
    }
    .recipe_section > .recipe_content {
        gap: var(--mid);
    }
    .recipe_section > .recipe_reviews > .share_wrapper {
        flex-direction: column;
    }
}