@keyframes heart-make-red {
    0% {
        height: 21px;
    }
    50% {
        height: 15px;
        background-color: var(--color-heart);
    }
    100% {
        height: 21px;
    }
}

.new_recipes_section {
    display: flex;
    flex-direction: column;
    gap: var(--mid);
    padding: 0 var(--padding-window);
}

.new_recipes_section > .cards_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--small);
}
.new_recipes_section > .cards_wrapper.long {
    display: flex;
    gap: var(--small);
}

.recipe_item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: var(--mid);
    padding: var(--small);
    gap: var(--mid);
}


.recipe_item > .recipe_item_header {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    position: relative;
}
.recipe_item > .recipe_item_header > .image_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1.5;
    position: relative;
    padding: var(--small);
    overflow: hidden;
    border-radius: var(--normal);
}
.recipe_item > .recipe_item_header > .image_wrapper > .image_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.recipe_item > .recipe_item_header > .image_wrapper > .image_link > .back_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--small);
    width: 100%;
    position: relative;
    z-index: 1;
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--small);
    gap: var(--small);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.75);
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds > .visibility_wrapper {
    width: 100%;
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds > .fit_wrapper {
    width: fit-content;
    height: -webkit-fill-available;
    aspect-ratio: 1;
    transition: transform 0.15s ease;
    cursor: pointer;
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds > .fit_wrapper:hover {
    transform: scale(1.1);
}
.recipe_item > .recipe_item_header > .image_wrapper > .visibility_and_adds > .fit_wrapper > img {
    height: 18px;
    width: 18px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.15s ease;
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
    padding: var(--small);
    border-radius: var(--small);
    height: fit-content;
    width: -webkit-fill-available;
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > * > img {
    height: 18px;
    width: 18px;
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > .change {
    background-color: rgba(255, 255, 255, 0.75);
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > .unpublic {
    background-color: rgba(255, 103, 102, 0.75);
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > .public {
    background-color: rgba(76, 149, 108, 0.75);
}
.recipe_item > .recipe_item_header > .image_wrapper > .buttons > .moderator {
    background-color: rgba(214, 140, 69, 0.75);
}

.recipe_item > .recipe_item_header > .info, .recipe_item_header > .info > * {
    display: flex;
    align-items: center;
}
.recipe_item > .recipe_item_header > .info {
    justify-content: space-between;
}
.recipe_item > .recipe_item_header > .info > * {
    gap: var(--small);
}
.recipe_item > .recipe_item_header > .info > .calories > h4 {
    color: var(--color-orange);
}
.recipe_item > .recipe_item_header > .info > .time > h4 {
    color: var(--color-green);
}

.recipe_item > .recipe_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe_item > .recipe_item_footer > .icon_title {
    display: flex;
    align-items: center;
    gap: var(--small);
}
.recipe_item > .recipe_item_footer > .icon_title > img {
    height: 22px;
}
.recipe_item > .recipe_item_footer > .icon_title > h4 {
    color: var(--color-black-50);
}
.recipe_item > .recipe_item_footer .share_button {
    height: 32px;
}

@media (max-width: 720px) {
    .recipe_item > .recipe_item_header > .info > * {
        gap: var(--tiny);
    }
    .new_recipes_section > .cards_wrapper {
        display: flex;
        flex-direction: column;
    }
    .new_recipes_section > .cards_wrapper.long {
        display: flex;
        gap: var(--small);
    }
    .recipe_item > .recipe_item_header > .info > * > img {
        height: 20px;
    }
}