.link_color {
    color: var(--color-white);
}

.d_none {
    display: none !important;
}
.v_none {
    visibility: hidden !important;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light-cream);
    display: flex;
    flex-direction: column;
    gap: var(--big);
    position: relative;
    justify-content: space-between;
}

button, input, textarea {
    outline: none;
    border: none;
    background: transparent;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
button:disabled {
    opacity: 0.7;
}

textarea {
    width: 100%;
    resize: none;
    padding: 0;
}

.image_input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

input[type='checkbox'] {
    appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background: var(--color-white);
    border-radius: var(--tiny);
    border: 1px dashed var(--color-light-gray);
    transition: 200ms;
    accent-color: var(--color-green);
    aspect-ratio: 1;
    cursor: pointer;
}

input[type='checkbox']::after {
    content: "\2714";
    opacity: 0;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    transition: 200ms;
    overflow: hidden;
    color: var(--color-white);
}
input[type='checkbox']:checked {
    background-color: var(--color-green);
}
input[type='checkbox']:checked::after {
    opacity: 1;
    transition: 200ms;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

select {
    border: none;
    outline: none;
}

a {
    line-height: 0;
    text-decoration: none;
    color: inherit;
}

.circle {
    shape-outside: circle(50%);
    clip-path: circle(50%);
    shape-margin: var(--small);
    float: left;
    border-radius: 50%;
    box-sizing: border-box;
}

.bread_crumbs {
    display: flex;
    align-items: center;
    gap: var(--small);
    padding: 0 var(--padding-window);
}
.bread_crumbs p {
    color: var(--color-green);
}
.bread_crumbs > img {
    height: 16px;
}

#go_up_wrapper {
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    z-index: 10;
    width: 24px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    border-radius: 50%;
    position: fixed;
    right: 10px;
    padding: var(--small);
    bottom: 50vh;
    transition: opacity 0.3s ease;
}
#go_up_wrapper > img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.anchor_hidden {
    position: absolute;
    top: -30vh;
    visibility: hidden;
}
.anchor-heading {
    position: relative;
    padding-top: 100px;  /* Отступ сверху */
    margin-top: -100px;   /* Поднимаем блок выше */
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
.top_waves_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#top_waves {
    width: 100%;
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.3s ease;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--mid);
    opacity: 0;
}

.header_wrapper {
    background-color: var(--color-cream);
    display: flex;
    padding: var(--normal) var(--padding-window);
    justify-content: space-between;
    gap: var(--padding-window);
}
.header_wrapper > .input_wrapper {
    flex-grow: 1;
    outline: none;
}
.header_sections {
    display: flex;
    align-items: center;
    gap: var(--big);
}
.header_sections .active {
    text-decoration: underline;
    text-underline-offset: var(--tiny);
}
.header_buttons {
    display: flex;
    align-items: center;
    gap: var(--mid);
}
.header_buttons > .burger {
    display: none;
}
.header_buttons > .profile_icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
.header_buttons > .profile_icon_wrapper > img#profile {
    height: 100%;
}

#main_cookie {
    height: 50px;
}
#add_recipe {
    height: 30px;
}
#tg_notif {
    width: 30px;
}
#profile {
    height: 50px;
}

.welcome_section {
    display: flex;
    align-items: center;
    gap: var(--mid);
}

.welcome_section > * {
    flex-basis: 50%;
}

.welcome_section_info {
    display: flex;
    flex-direction: column;
    gap: var(--mega);
    padding-left: var(--padding-window);
}

.welcome_section_plate {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: var(--padding-window);
}

.find_by_title, .find_by_ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--big);
}
.find_by_title > h1 {
    font-size: 91px; 
    line-height: 104px;
}



.buttons_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small);
    width: 100%;
}
.buttons_wrapper > .input_wrapper:first-child {
    width: 100%;
}



.section_title {
    padding: 0 var(--padding-window);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small);
}

.section_title > .line {
    width: 100%;
    height: 4px;
    background-color: var(--color-cookie);
    border-radius: 2px;
}
.section_title > h2 {
    color: var(--color-cookie);
}

footer {
    display: flex;
    flex-direction: column;
}

#footer_waves {
    display: block;
}

.footer_wrapper {
    display: flex;
    padding: var(--big) var(--mid);
    gap: var(--small);
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cookie);
}

.footer_content {
    display: flex;
    flex-direction: column;
    gap: var(--normal);
}
.footer_info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.footer_info > .social_div > a {
    display: flex;
    align-items: center;
    gap: var(--small);
}
.footer_info > .social_div > a > img {
    width: 25px;
}

.footer_content > h3 {
    font-family: "NTSomic_Medium";
}

@media (max-width: 720px) {
    .d_mobile_none {
        display: none !important;
    }
    #main_cookie {
        height: 40px;
    }
    .bread_crumbs > img {
        height: 14px;
    }
    .input_wrapper .input_button {
        padding: var(--normal) var(--mid);
    }
    body {
        background-color: var(--color-light-cream);
        display: flex;
        flex-direction: column;
        gap: var(--normal);
        position: relative;
        justify-content: space-between;
    }
    .section_title > h2 {
        font-size: 2rem; /*32px*/
        line-height: 2.25rem; /*36px*/
    }
    /* .header_buttons > a {
        display: none !important;
    } */
    .header_buttons > .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        aspect-ratio: 1;
    }
    .header_buttons > .burger > .line {
        width: 100%;
        height: 4px;
        background-color: var(--color-black);
        border-radius: 2px;
    }
    .welcome_section {
        display: block;
    }
    .welcome_section_info {
        padding: 0 var(--padding-window);
        gap: var(--big);
    }
    .welcome_section_info > h1 {
        font-size: 50px; 
        line-height: 57px;
        text-align: center;
    }
    .find_by_title, .find_by_ingredients {
        gap: var(--small);
    }
    .footer_wrapper {
        flex-direction: column;
        padding: var(--normal);
        gap: var(--mid);
        align-items: start;
    }
    .footer_wrapper > .line {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: var(--color-black);
    }
    .header_wrapper > .input_wrapper {
        gap: var(--small);
        padding: var(--tiny) var(--tiny) var(--tiny) var(--normal);
    }
    .header_wrapper .input_wrapper input::placeholder {
        font-size: 0.75rem; /*12px*/
        line-height: 0.875rem; /*14px*/
    }
    .header_wrapper .input_wrapper.magnifier {
        padding: var(--tiny);
    }
    .header_wrapper .input_wrapper .input_button {
        padding: var(--normal) var(--mid);
    }
    .header_wrapper .input_wrapper .input_button.magnifier {
        padding: 6px 22px;
    }
    .header_wrapper .input_wrapper .input_button.magnifier > img {
        height: 22px;
    }

    
}
@media (min-width: 721px) {
    .d_desktop_none {
        display: none !important;
    }
}