.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--small);
    margin: 0 var(--padding-window);
    border-radius: 100px;
    background-color: var(--color-white);
    outline: 1px solid var(--color-light-ghost);
}
.pagination > .pagination_button {
    background-color: var(--color-green);
    padding: var(--mid) var(--huge);
    border-radius: 100px;
}
.pagination > .pagination_button.disabled {
    opacity: 0.5;
}
.pagination > .page_numbers_wrapper {
    display: flex;
    align-items: center;
    gap: var(--mid);
}
.pagination > .page_numbers_wrapper h3 {
    color: var(--color-black-50);
    font-family: "Lilita_Regular";
}
.pagination > .page_numbers_wrapper > .active > h3 {
    color: var(--color-cookie);
}

@media (max-width: 720px) {
    .pagination {
        padding: var(--tiny);
    }
    .pagination > .pagination_button {
        padding: var(--normal) var(--mid);
    }
}