{% extends 'recipes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/recipe/recipe_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/news_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/achiv_shadows.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="bread_crumbs">
            <a href="{% url 'main' %}"><p>Главная</p></a>
            <img src="{% static 'svg/Arrows/Green_crumbs.svg' %}">
            <a href="{% url 'users:profile' %}"><p>Профиль</p></a>
        </section>
        <div class="main_content">
            <section class="profile_header d_mobile_none">
                <div class="content">
                    <div class="image_wrapper">
                        {% if object.avatar %}
                        <img src="{{ object.avatar.url }}">
                        {% else %}
                        <img src="{% static 'img/Profile/author_default.png' %}">
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="name_tag_descr_achiv">
                            <div class="name_tag_descr">
                                <div class="name_and_tag">
                                    {% if object.name %}
                                    <h2>{{ object.name }}</h2>
                                    {% endif %}
                                    <h3>@{{ object.username }}</h3>
                                </div>
                                <h5>{{ object.description_profile }}</h5>
                            </div>
                            <img class="shadow silver_shadow" src="{% static 'svg/Achievements/Comments_Silver.svg' %}">
                        </div>
                        <div class="socials_and_date_joined">
                            {% if object.socials %}
                            <div class="socials_wrapper">
                                <h4>Соц сети:</h4>
                                <div class="socials">
                                    {% if object.socials.telegram %}
                                    <a href="{{ object.socials.telegram }}">
                                        <img src="{% static 'svg/Socials_Colorful/TG.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.vk %}
                                    <a href="{{ object.socials.vk }}">
                                        <img src="{% static 'svg/Socials_Colorful/VK.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.pinterest %}
                                    <a href="{{ object.socials.pinterest }}">
                                        <img src="{% static 'svg/Socials_Colorful/Pinterest.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.youtube %}
                                    <a href="{{ object.socials.youtube }}">
                                        <img src="{% static 'svg/Socials_Colorful/Youtube.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.rutube %}
                                    <a href="{{ object.socials.rutube }}">
                                        <img src="{% static 'svg/Socials_Colorful/Rutube.svg' %}">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <h4>На сайте с {{ object.date_joined }}</h4>
                        </div>
                    </div>
                </div>
                <div class="settings_wrapper">
                    <h4 class="medium_font">Настройки профиля</h4>
                    <div class="settings">
                        <div class="subs_wrapper">
                            <p class="medium_font">Подписчики: {{ subscribers_count }}</p>
                        </div>
                        <div class="settings_item">
                            <img src="{% static 'svg/Random_icons/Gear_icon.svg' %}">
                            <p>Расширенные настройки</p>
                        </div>
                        <div class="settings_item change_fon">
                            <img src="{% static 'svg/Random_icons/Brush_icon.svg' %}">
                            <p>Изменить фон</p>
                        </div>
                        <a href="{% url 'users:logout' %}" class="settings_item">
                            <img src="{% static 'svg/Cookie/Sad_half_black.svg' %}">
                            <p class="red">Выйти</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="profile_header d_desktop_none">
                <div class="avatar_and_settings">
                    <div class="image_wrapper">
                        {% if object.avatar %}
                        <img src="{{ object.avatar.url }}">
                        {% else %}
                        <img src="{% static 'img/Profile/author_default.png' %}">
                        {% endif %}
                    </div>
                    <div class="settings_wrapper">
                        <h4 class="medium_font">Настройки профиля</h4>
                        <div class="settings">
                            <div class="subs_wrapper">
                                <p class="medium_font">Подписчики: {{ subscribers_count }}</p>
                            </div>
                            <div class="settings_item">
                                <img src="{% static 'svg/Random_icons/Gear_icon.svg' %}">
                                <p>Расширенные настройки</p>
                            </div>
                            <div class="settings_item">
                                <img src="{% static 'svg/Random_icons/Brush_icon.svg' %}">
                                <p>Изменить фон</p>
                            </div>
                            <a href="{% url 'users:logout' %}" class="settings_item">
                                <img src="{% static 'svg/Cookie/Sad_half_black.svg' %}">
                                <p class="red">Выйти</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="info">
                        <div class="name_tag_descr_achiv">
                            <div class="name_tag_descr">
                                <div class="name_and_tag">
                                    {% if object.name %}
                                    <h2>{{ object.name }}</h2>
                                    {% endif %}
                                    <h3>@{{ object.username }}</h3>
                                </div>
                                <img class="shadow" src="{% static 'svg/Achievements/Comments_Silver.svg' %}">
                            </div>
                            <h5>{{ object.description_profile }}</h5>
                        </div>
                        <div class="socials_and_date_joined">
                            {% if object.socials %}
                            <div class="socials_wrapper">
                                <h4>Соц сети:</h4>
                                <div class="socials">
                                    {% if object.socials.telegram %}
                                    <a href="{{ object.socials.telegram }}">
                                        <img src="{% static 'svg/Socials_Colorful/TG.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.vk %}
                                    <a href="{{ object.socials.vk }}">
                                        <img src="{% static 'svg/Socials_Colorful/VK.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.pinterest %}
                                    <a href="{{ object.socials.pinterest }}">
                                        <img src="{% static 'svg/Socials_Colorful/Pinterest.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.youtube %}
                                    <a href="{{ object.socials.youtube }}">
                                        <img src="{% static 'svg/Socials_Colorful/Youtube.svg' %}">
                                    </a>
                                    {% endif %}
                                    {% if object.socials.rutube %}
                                    <a href="{{ object.socials.rutube }}">
                                        <img src="{% static 'svg/Socials_Colorful/Rutube.svg' %}">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <h4>На сайте с {{ object.date_joined }}</h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="profile_chapters">
                <div class="chapter_wrapper">
                    <div class="add_button recipe">
                        <img src="{% static 'svg/Plus_Minus/Plus_white.svg' %}">
                        <h4>Рецепт</h4>
                    </div>
                    <h4>Понравившиеся рецепты</h4>
                    <h4>Мои рецепты</h4>
                </div>
                <span class="line d_mobile_none"></span>
                <div class="chapter_wrapper">
                    <div class="add_button news">
                        <img src="{% static 'svg/Plus_Minus/Plus_white.svg' %}">
                        <h4>Статья</h4>
                    </div>
                    <h4>Мои статьи</h4>
                </div>
                <span class="line d_mobile_none"></span>
                <div class="chapter_wrapper">
                    <h4>Мои подписки</h4>
                    <h4>Достижения</h4>
                </div>
            </section>
            <section class="new_recipes_section">
                <div class="cards_wrapper">
                    {% for item in liked_recipes %}
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="{% url 'recipes:detail' item.id item.slug %}">
                                    <img class="back_image" src="{{ item.previews.preview_1.url }}">
                                </a>
                                {% if user.is_authenticated %}
                                    {% if item.id in user.liked_recipes_id %}
                                    <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                                    </div>
                                    {% else %}
                                    <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                    <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                </div>
                                {% endif %}
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                                    <h4>{{ item.calculate_total_calories }} ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                    <h4>{{ item.cook_time_full|short_timedelta }}</h4>
                                </div>
                            </div>
                            <a href="{% url 'recipes:detail' item.id item.slug %}">
                                <h3 class="title medium_font">{{ item.title }}</h3>
                            </a>
                            <h4 class="description">{{ item.description_card }}</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                                <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="new_recipes_section">
                <div class="publish_types">
                    <div class="publish_type_item active">
                        <h4 class="medium_font">Опубликованные</h4>
                    </div>
                    <div class="publish_type_item">
                        <h4 class="medium_font">Не опубликованные</h4>
                    </div>
                    <div class="publish_type_item">
                        <h4 class="medium_font">Черновики</h4>
                    </div>
                </div>
                <div class="cards_wrapper">
                    {% for item in my_recipes %}
                    <div class="recipe_item">
                        <div class="recipe_item_header">
                            <div class="image_wrapper">
                                <a href="{% url 'recipes:detail' item.id item.slug %}">
                                    <img class="back_image" src="{{ item.previews.preview_1.url }}">
                                </a>
                                {% if user.is_authenticated %}
                                    {% if item.id in user.liked_recipes_id %}
                                    <div class="heart_wrapper active" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_fill.svg' %}">
                                    </div>
                                    {% else %}
                                    <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                        <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="heart_wrapper" data-url="{% url 'recipes:recipe_like_ajax' %}" data-id="{{ item.id }}">
                                    <img src="{% static 'svg/Random_icons/Heart_blank.svg' %}">
                                </div>
                                {% endif %}
                                <div class="buttons">
                                    <div class="change">
                                        <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                                        <h4>Редактировать</h4>
                                    </div>
                                    <div class="public">
                                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                                        <h4 class="medium_font white">Опубликовать</h4>
                                    </div>
                                    <div class="unpublic">
                                        <img src="{% static 'svg/Yes_No/No_no_shadow.svg' %}">
                                        <h4 class="medium_font white">Снять с публикации</h4>
                                    </div>
                                    <div class="moderator">
                                        <img src="{% static 'svg/Random_icons/Gear_icon_white.svg' %}">
                                        <h4 class="medium_font white">Проверяется модератором</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="calories">
                                    <img src="{% static 'svg/Random_icons/Callories_icon.svg' %}">
                                    <h4>{{ item.calculate_total_calories }} ккал</h4>
                                </div>
                                <div class="time">
                                    <img src="{% static 'svg/Random_icons/Clock_icon.svg' %}">
                                    <h4>{{ item.cook_time_full|short_timedelta }}</h4>
                                </div>
                            </div>
                            <a href="{% url 'recipes:detail' item.id item.slug %}">
                                <h3 class="title medium_font">{{ item.title }}</h3>
                            </a>
                            <h4 class="description">{{ item.description_card }}</h4>
                        </div>
                        <div class="recipe_item_footer">
                            <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                                <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                <h4>{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="subs_section">
                <div class="input_wrapper">
                    <input placeholder="Введите тег автора">
                    <button class="input_button magnifier">
                        <img src="{% static 'svg/Shapes/Magnifier.svg' %}">
                    </button>
                </div>
                <div class="subs_wrapper">
                    {% for item in subscriptions.all %}
                    <div class="subs_item">
                        <div class="info">
                            <a href="{% url 'users:author' item.username %}" class="image_wrapper">
                                {% if item.avatar %}
                                <img src="{{ item.avatar.url }}">
                                {% else %}
                                <img src="{% static 'img/Profile/author_default.png' %}">
                                {% endif %}
                            </a>
                            <div class="name_and_tag">
                                <h4>{{ item.name }}</h4>
                                <h4 class="black_50">@{{ item.username }}</h4>
                            </div>
                        </div>
                        <div class="sub_button active">
                            <h4>Подписаться</h4>
                        </div>
                        <div class="sub_button">
                            <h4>Отписаться</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="articles_section">
                <div class="publish_types">
                    <div class="publish_type_item active">
                        <h4 class="medium_font">Опубликованные</h4>
                    </div>
                    <div class="publish_type_item">
                        <h4 class="medium_font">Не опубликованные</h4>
                    </div>
                    <div class="publish_type_item">
                        <h4 class="medium_font">Черновики</h4>
                    </div>
                </div>
                <div class="cards_wrapper">
                    {% for item in my_articles %}
                    <div class="news_item">
                        <div class="news_item_header">
                            <div class="image_wrapper">
                                <a href="{% url 'news:detail' item.id item.slug %}">
                                    <img class="back_image" src="{{ item.preview.url }}">
                                </a>
                                <div class="date_wrapper">
                                    <h4>{{ item.published_date }}</h4>
                                </div>
                                <div class="buttons">
                                    <div class="change">
                                        <img src="{% static 'svg/Random_icons/Edit_icon.svg' %}">
                                        <h4>Редактировать</h4>
                                    </div>
                                    <div class="public">
                                        <img src="{% static 'svg/Yes_No/Yes_no_shadow.svg' %}">
                                        <h4 class="medium_font white">Опубликовать</h4>
                                    </div>
                                    <div class="unpublic">
                                        <img src="{% static 'svg/Yes_No/No_no_shadow.svg' %}">
                                        <h4 class="medium_font white">Снять с публикации</h4>
                                    </div>
                                    <div class="moderator">
                                        <img src="{% static 'svg/Random_icons/Gear_icon_white.svg' %}">
                                        <h4 class="medium_font white">Проверяется модератором</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="rating">
                                    {% for _ in item.stars_on_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_on.svg' %}">
                                    {% endfor %}
                                    {% for _ in item.stars_off_count|repeat %}
                                    <img src="{% static 'svg/Stars/Star_off.svg' %}">
                                    {% endfor %}
                                    <h4 class="black_75">({{ item.reviews.count }})</h4>
                                </div>
                                <div class="views">
                                    <img src="{% static 'svg/Random_icons/Eye_icon.svg' %}">
                                    <h4 class="green">{{ item.views }}</h4>
                                </div>
                            </div>
                            <a href="{% url 'news:detail' item.id item.slug %}">
                                <h3 class="title medium_font">{{ item.title }}</h3>
                            </a>
                            <h4 class="description">{{ item.description_card }}</h4>
                        </div>
                        <div class="news_item_footer">
                            <a href="{% url 'users:author' item.author.username %}" class="icon_title">
                                <img src="{% static 'svg/Cookie/Smile_half_black.svg' %}">
                                <h4 class="black_75">{% if item.author.name %}{{ item.author.name }}{% else %}{{ item.author.username }}{% endif %}</h4>
                            </a>
                            <a href="">
                                <img class="share_button" src="{% static 'svg/Random_icons/Share_icon.svg' %}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="nothing_section">
                <img src="{% static 'svg/Cookie/Sad_half_black.svg' %}">
                <h3 class="black_50 medium_font">Тут пока ничего нет</h3>
            </section>
            <section class="settings_section">
                <div class="settings">
                    <div class="background_and_avatar">
                        <div class="background">
                            <div class="title">
                                <img src="{% static 'svg/Random_icons/Brush_icon.svg' %}">
                                <h4>Изменить фон профиля</h4>
                            </div>
                            <div class="colors">
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item active">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                <div class="color_item">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="title">
                                <img src="{% static 'svg/Cookie/Smile_green.svg' %}">
                                <h4>Изменить аватар</h4>
                            </div>
                            <div class="image_item add_image">
                                <div class="content">
                                    <img src="{% static 'svg/Cookie/Add_image_green.svg' %}">
                                    <p class="green">Загрузите своё изображение</p>
                                </div>
                                {% if object.avatar %}
                                <div class="yes_wrapper">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                {% endif %}
                            </div>
                            <div class="image_item default_image">
                                <div class="content">
                                    <img src="{% static 'svg/Cookie/TR_avatar.svg' %}">
                                    <p>Или установите стандартное</p>
                                </div>
                                {% if not object.avatar %}
                                <div class="yes_wrapper">
                                    <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="fields_wrapper">
                        <div class="fields_part">
                            <h3 class="medium_font">Основная информация</h3>
                            <div class="fields">
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Отображаемое имя</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="Введите отображаемое имя">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Имя пользователя</h4>
                                    </div>
                                    <div class="input_wrapper disabled">
                                        <input disabled placeholder="Введите имя пользователя" value="{{ object.username }}">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Адрес электронной почты</h4>
                                    </div>
                                    <div class="input_wrapper disabled">
                                        <input disabled placeholder="Введите адрес электронной почты" value="{{ object.email }}">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Описание для профиля</h4>
                                        <img src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="Введите описание профиля">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Описание в рецепте</h4>
                                        <img src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="Введите описание в рецепте">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Описание в статье</h4>
                                        <img src="{% static 'svg/Random_icons/Question_mark.svg' %}">
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="Введите описание в статье">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fields_part">
                            <h3 class="medium_font">Ссылки на соц. сети</h3>
                            <div class="fields">
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Telegram</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="https://t.me/your_user">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>ВКонтакте</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="https://vk.com/your_user">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>Pinterest</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="https://pinterest.com/your_user">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>YouTube</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="https://youtube.com/your_channel">
                                    </div>
                                </div>
                                <div class="field_item">
                                    <div class="title_and_mark">
                                        <h4>RuTube</h4>
                                    </div>
                                    <div class="input_wrapper">
                                        <input placeholder="https://rutube.ru/channel/your_channel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="save_button">
                    <h4>Сохранить изменения</h4>
                </div>
            </section>
            <section class="achievements_section">
                <div class="my_achiv">
                    <h3 class="medium_font">Полученные достижения</h3>
                    <div class="achiv_list">
                        {% for item in object.achivs.all %}
                        <div class="achiv_item">
                            <img class="shadow
                            {% if item.level == 1 %}silver_shadow
                            {% elif item.level == 2 %}gold_shadow
                            {% elif item.level == 3 %}ruby_shadow
                            {% else %}silver_shadow
                            {% endif %}" src="{{ item.icon.url }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="all_achiv">
                    <h3 class="medium_font">Все достижения</h3>
                    <div class="one_time type">
                        <h4>Одноразовые</h4>
                        <div class="achiv_list">
                            {% for item in one_use_achivs %}
                            <div class="achiv_item">
                                <img class="shadow
                                {% if item.level == 1 %}silver_shadow
                                {% elif item.level == 2 %}gold_shadow
                                {% elif item.level == 3 %}ruby_shadow
                                {% else %}silver_shadow
                                {% endif %}" src="{{ item.icon.url }}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="multiple_time type">
                        <h4>Многоразовые</h4>
                        <div class="multiple_achiv_list">
                            {% for achiv_item in multiple_use_achivs.items %}
                            <div class="multiple_achiv_item">
                                <div class="achiv_list">
                                    {% for item in achiv_item.1.0.all %}
                                    <div class="achiv_item">
                                        <img class="shadow
                                        {% if item.level == 1 %}silver_shadow
                                        {% elif item.level == 2 %}gold_shadow
                                        {% elif item.level == 3 %}ruby_shadow
                                        {% else %}silver_shadow
                                        {% endif %}" src="{{ item.icon.url }}">
                                    </div>
                                    {% endfor %}
                                    {% for _ in achiv_item.1.2|repeat %}
                                    <div class="achiv_item disabled">
                                        <img class="shadow silver_shadow" src="{% static 'svg/Achievements/Comments_Silver.svg' %}">
                                    </div>
                                    {% endfor %}
                                </div>
                                <h4 class="medium_font">{{ achiv_item.0 }}</h4>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="back_black d_none">
            <div class="profile_window d_none">
                <div class="title">
                    <h2 class="cookie lilita_font">Регистрация</h2>
                    <h3 class="cookie lilita_font">Открой ещё одну комнату вкусов в нашем домике!</h3>
                </div>
                <form class="info_form">
                    <div class="field_item">
                        <h4>Имя пользователя</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите имя пользователя">
                        </div>
                    </div>
                    <div class="field_item">
                        <h4>Адрес электронной почты</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите адрес электронной почты">
                        </div>
                    </div>
                    <div class="field_item">
                        <h4>Пароль</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите пароль">
                        </div>
                    </div>
                    <button class="success_button">
                        <h4 class="medium_font white">Зарегистрироваться</h4>
                    </button>
                </form>
                <div class="foot">
                    <h4>Уже есть аккаунт? <a href="" class="black_50">Войти</a></h4>
                </div>
                <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
            </div>
            <div class="profile_window d_none">
                <div class="title">
                    <h2 class="cookie lilita_font">Вход</h2>
                    <h3 class="cookie lilita_font">Ваша комната вкусов уже ждёт вас!</h3>
                </div>
                <form class="info_form">
                    <div class="field_item">
                        <h4>Почта или Имя пользователя</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите почту или имя пользователя">
                        </div>
                    </div>
                    <div class="field_item">
                        <h4>Пароль</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите пароль">
                        </div>
                    </div>
                    <button class="success_button">
                        <h4 class="medium_font white">Войти</h4>
                    </button>
                </form>
                <div class="foot">
                    <h4>Ещё нет аккаунта? <a href="" class="black_50">Зарегистрироваться</a></h4>
                    <h4 class="black_50">Забыли пароль?</h4>
                </div>
                <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
            </div>
            <div class="profile_window d_none">
                <div class="title">
                    <h2 class="cookie lilita_font">Восстановление пароля</h2>
                    <h3 class="cookie lilita_font">Мы отправим вам код на почту</h3>
                </div>
                <form class="info_form">
                    <div class="field_item">
                        <h4>Адрес электронной почты</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите адрес электронной почты">
                            <p>Отправить</p>
                        </div>
                    </div>
                    <div class="field_item">
                        <h4>Код из письма</h4>
                        <div class="input_wrapper">
                            <input placeholder="Введите код из письма">
                        </div>
                    </div>
                    <button class="success_button">
                        <h4 class="medium_font white">Продолжить</h4>
                    </button>
                    <div class="messages_wrapper">
                        <h4 class="black_50">Повторная отправка через 30 сек.</h4>
                    </div>
                </form>
                <div class="foot">
                    <h4>Вспомнили пароль? <a href="" class="black_50">Войти</a></h4>
                </div>
                <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
            </div>
            <div class="profile_window d_none">
                <div class="title">
                    <h2 class="cookie lilita_font">Восстановление пароля</h2>
                    <h3 class="cookie lilita_font">Придумайте новый пароль</h3>
                </div>
                <form class="info_form">
                    <div class="field_item">
                        <h4>Пароль</h4>
                        <div class="input_wrapper">
                            <input placeholder="Придумайте новый пароль">
                        </div>
                        <div class="input_wrapper">
                            <input placeholder="Введите новый пароль ещё раз">
                        </div>
                    </div>
                    <button class="success_button">
                        <h4 class="medium_font white">Изменить</h4>
                    </button>
                    <div id="messages_wrapper_id" class="messages_wrapper">
                        <img src="{% static 'svg/Random_icons/Warning.svg' %}">
                        <h4 class="black_50">Пароли не совпадают</h4>
                    </div>
                </form>
                <img class="overflow_icon" src="{% static 'svg/Cookie/TR_avatar.svg' %}">
            </div>
            <div class="profile_window back_fon no_fon d_none">
                <div class="background">
                    <div class="title">
                        <h3 class="medium_font white">Изменить фон профиля</h3>
                    </div>
                    <div class="colors">
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item active">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                        <div class="color_item">
                            <img src="{% static 'svg/Yes_No/Yes_shadow.svg' %}">
                        </div>
                    </div>
                    <button class="save_background_button">
                        <h4 class="medium_font white">Сохранить изменения</h4>
                    </button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}